In [1]:
import dero
import pandas as pd

In [2]:
df = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

In [30]:
df_extra = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

In [2]:
df_weight = pd.DataFrame(data = [
        (10516, 'a', '1/1/2000', 1.01, 0),
        (10516, 'a', '1/2/2000', 1.02, 1),
        (10516, 'a', '1/3/2000', 1.03, 1),
        (10516, 'a', '1/4/2000', 1.04, 0),
        (10516, 'b', '1/1/2000', 1.05, 1),
        (10516, 'b', '1/2/2000', 1.06, 1),
        (10516, 'b', '1/3/2000', 1.07, 1),
        (10516, 'b', '1/4/2000', 1.08, 1),
        (10517, 'a', '1/1/2000', 1.09, 0),
        (10517, 'a', '1/2/2000', 1.1, 0),
        (10517, 'a', '1/3/2000', 1.11, 0),
        (10517, 'a', '1/4/2000', 1.12, 1),
        ], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'weight'])

In [3]:
from pandas import Timestamp
ticker_df = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('a', Timestamp('2008-01-01 00:00:00'), 'AAN'),
        ('a', Timestamp('2009-01-02 00:00:00'), 'AAN'),
        ('a', Timestamp('2010-01-03 00:00:00'), 'AAN'),
        ('a', Timestamp('2011-01-04 00:00:00'), 'AAN'),
        ], columns = ['byvar', 'Date', 'TICKER'])

In [10]:
from numpy import nan
permno_df_with_nan = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-02 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-03 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-04 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-01 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-02 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-03 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-04 00:00:00'), 10516.0),
        ('a', Timestamp('2008-01-01 00:00:00'), nan),
        ('a', Timestamp('2009-01-02 00:00:00'), nan),
        ('a', Timestamp('2010-01-03 00:00:00'), 78049.0),
        ('a', Timestamp('2011-01-04 00:00:00'), 10517.0),
        ], columns = ['byvar', 'Date', 'PERMNO'])

In [ ]:
from pandas import Timestamp
df_ticker_extra_cols_year_month = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM', 1.01, 2000, 1),
        ('a', Timestamp('2000-01-02 00:00:00'), 'ADM', 1.02, 2000, 1),
        ('a', Timestamp('2000-01-03 00:00:00'), 'ADM', 1.03, 2000, 1),
        ('a', Timestamp('2000-01-04 00:00:00'), 'ADM', 1.04, 2000, 1),
        ('b', Timestamp('2000-01-01 00:00:00'), 'ADM', 1.05, 2000, 1),
        ('b', Timestamp('2000-01-02 00:00:00'), 'ADM', 1.06, 2000, 1),
        ('b', Timestamp('2000-01-03 00:00:00'), 'ADM', 1.07, 2000, 1),
        ('b', Timestamp('2000-01-04 00:00:00'), 'ADM', 1.08, 2000, 1),
        ('a', Timestamp('2008-01-01 00:00:00'), 'AAN', 1.09, 2008, 1),
        ('a', Timestamp('2009-01-02 00:00:00'), 'AAN', 1.1, 2009, 1),
        ('a', Timestamp('2010-01-03 00:00:00'), 'AAN', 1.11, 2010, 1),
        ('a', Timestamp('2011-01-04 00:00:00'), 'AAN', 1.12, 2011, 1),
        ], columns = ['byvar', 'Date', 'TICKER', 'other', 'Year', 'Month'])

In [3]:
from numpy import nan
df_nan_byvar = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', 3),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [2]:
from numpy import nan
df_nan_byvar_and_val = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', nan),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [2]:
from numpy import nan
df_nan_byvar_and_val_nonstandard_index = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', nan),
                                ('b', 4),
                                ], columns = ['byvar', 'val'],
                                index=[5,6,7,8])

In [1]:
import dero

In [2]:
dir(dero)

['__builtins__',
 '__cached__',
 '__dero_version__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'core',
 'data',
 'decorators',
 'dero',
 'latex',
 'logging',
 'matplotlib',
 'multiprocessing',
 'pandas',
 'pdf',
 'selenium',
 'sympy',
 'sys',
 'time']

In [ ]:
dero.pandas.

In [2]:
import testing_rename

In [3]:
testing_rename.time2.sleep(3)

In [5]:
import time

In [1]:
import time2

ImportError: No module named 'time2'

In [1]:
%%writefile testing_rename.py

import sys, time

sys.modules['time2'] = time

import time2

del time
del sys.modules['time2']

Overwriting testing_rename.py

In [4]:
time2

NameError: name 'time2' is not defined

In [2]:
dir(dero)

['__builtins__',
 '__cached__',
 '__dero_version__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'core',
 'data',
 'decorators',
 'dero',
 'ext_logging',
 'ext_matplotlib',
 'ext_multiprocessing',
 'ext_pandas',
 'ext_selenium',
 'ext_sympy',
 'ext_time',
 'latex',
 'pdf',
 'sys']

In [11]:
df_nan_byvar_and_val

  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0

In [13]:
float('sdf')

ValueError: could not convert string to float: 'sdf'

In [14]:
def is_numeric(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

In [16]:
def testfunc(x):
    return x + 1

@dero.decorators.simple_decorator
def func_or_nan(func):

In [21]:
g = df_nan_byvar_and_val.groupby('byvar')
g.transform??

In [61]:
subset = ['val','byvar']
any_nan_subset_mask = pd.Series([all(i) for i in (zip(*[~pd.isnull(df_nan_byvar_and_val[col]) for col in subset]))])
df_nanvals_removed = df_nan_byvar_and_val[any_nan_subset_mask]
df_removed = df_nan_byvar_and_val[~any_nan_subset_mask]

In [65]:
df_nanvals_removed.reindex(df_nan_byvar_and_val.index)

  byvar  val
0     a  1.0
1   NaN  NaN
2   NaN  NaN
3     b  4.0

In [63]:
df_removed

  byvar  val
1   NaN  2.0
2     b  NaN

In [60]:
pd.Series([all(i) for i in (zip(*[~pd.isnull(df_nan_byvar_and_val[col]) for col in ['val','byvar']]))])

0     True
1    False
2    False
3     True
dtype: bool

In [29]:
df_nanvals_removed

  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0

In [22]:
testfunc(nan)

nan

In [ ]:
df_nan_byvar_and_val.groupby('byvar').transform

In [26]:
df_nanvals_removed

  byvar  val
0     a  1.0
1   NaN  2.0
3     b  4.0

In [27]:
df_nanvals_removed.fillna('__tempnan__').groupby('byvar').transform(lambda x: x)

   val
0  1.0
1  2.0
3  4.0

In [12]:
df_nan_byvar_and_val[['byvar','val']] = df_nan_byvar_and_val[['byvar','val']].fillna('__tempnan__')
df_nan_byvar_and_val

         byvar          val
0            a            1
1  __tempnan__            2
2            b  __tempnan__
3            b            4

In [3]:
dero.pandas.groupby_merge(df_nan_byvar_and_val_nonstandard_index, 'byvar', 'transform', (lambda x: x))

  byvar  val  val_transform
5     a  1.0            1.0
6   NaN  2.0            2.0
7     b  NaN            NaN
8     b  4.0            4.0

In [4]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\internals.py(2635)set_axis()
-> (old_len, new_len))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(428)_set_axis()
-> self._data.set_axis(axis, labels)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\pandas\src\properties.pyx(65)pandas.lib.AxisProperty.__set__ (pandas\lib.c:45018)()
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(2685)__setattr__()
-> return object.__setattr__(self, name, value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(425)set_axis()
-> setattr(self, self._get_axis_name(axis), labels)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(483)_set_result_index_ordered()
-> result.set_axis(self.axis, self.obj._get_axis(self.axis))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3423)_transform_general()
-> return self._set_result_index_ordered(concatenated)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3457)transform()
-> return self._transform_general(func, *args, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(774)groupby_merge()
-> grouped = func(*func_args)[subset] #apply the class method and select subset columns
(Pdb) u
> <ipython-input-3-f1619c317988>(1)<module>()
-> dero.pandas.groupby_merge(df_nan_byvar_and_val, 'byvar', 'transform', (lambda x: x))
(Pdb) d
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(774)groupby_merge()
-> grouped = func(*func_args)[subset] #apply the class method and select subset columns
(Pdb) grouped.count()
       val
byvar
a        1
b        1
(Pdb) no_nans
  byvar  val
0     a  1.0
1   NaN  2.0
3     b  4.0
(Pdb) df
  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0
(Pdb) q

In [96]:
import imp; imp.reload(dero)

In [10]:
[i for i in range(1,3)]

[1, 2]

In [8]:
del aadfs

NameError: name 'aadfs' is not defined

In [68]:
dero.pandas.groupby_merge?

In [63]:
df.dtypes == np.int64

PERMNO     True
byvar     False
Date      False
RET       False
dtype: bool

In [49]:
np.number?

In [6]:
f.close()

In [10]:
%load_ext memory_profiler

In [4]:
# %%mprun -f crsp.pull_crsp
crsp = dero.data.GetCRSP(debug=True)
# df['Date'] = pd.to_datetime(df['Date'])
a = crsp.pull_crsp(ticker_df, coid='TICKER', get='RET', time=[0,3], cumret='between', other_byvars='byvar',
                  drop_first=True)
# a = crsp.pull_crsp(df, get='RET', time=[0, 3], cumret='between', other_byvars='byvar', drop_first=True)
# dero.pandas.to_copy_paste(a)
# a

2016-05-31 12:48:50: Initializing pull_crsp function
2016-05-31 12:48:50: Checking inputs.
2016-05-31 12:48:50: Company ID is not PERMNO. Getting PERMNO.
2016-05-31 12:48:53: Pulled PERMNO from dsenames.
2016-05-31 12:48:53: Loading CRSP dataframe...
2016-05-31 12:48:53: Loaded.
2016-05-31 12:48:53: Converting SAS date to Pandas format.
2016-05-31 12:48:53: Converted.
2016-05-31 12:48:53: Time detected.
2016-05-31 12:48:53: Cumret detected, will generate intermediate periods.
2016-05-31 12:48:53: Generating periods [0, 3] + itermediate
2016-05-31 12:48:53: Initializing expand_time for periods [0, 1, 2, 3].
2016-05-31 12:48:53: Calculating number of rows.
2016-05-31 12:48:53: Calculating number of duplicates.
2016-05-31 12:48:53: Duplicating observations 3 times.
2016-05-31 12:48:53: Duplicated.
2016-05-31 12:48:53: Creating shift variable.
2016-05-31 12:48:53: Creating shifted date.
2016-05-31 12:48:53: expand_time completed.
2016-05-31 12:48:53: Finished generating periods. Generating key.
2016-05-31 12:48:53: Merging CRSP to dataframe.
2016-05-31 12:48:53: Completed merge.
2016-05-31 12:48:53: Cumret detected.
2016-05-31 12:48:53: Cumulating returns with method between for time [0, 3].
2016-05-31 12:48:53: Initializing cumulate.
2016-05-31 12:48:53: Creating by groups.
2016-05-31 12:48:53: Reshaping long to wide.

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
crsp = dero.data.GetCRSP(debug=True)
# crsp.pull_crsp(df, get='RET', abret=4, window=36, freq='m', other_byvars='byvar')
crsp.pull_crsp(df)
crsp.pull_crsp(df, freq='d')

2016-05-30 17:47:54: Initializing pull_crsp function
2016-05-30 17:47:54: Checking inputs.
2016-05-30 17:47:54: Loading CRSP dataframe...
2016-05-30 17:47:54: Loaded.
2016-05-30 17:47:54: Converting SAS date to Pandas format.
2016-05-30 17:47:54: Converted.
2016-05-30 17:47:54: Merging CRSP to dataframe.
2016-05-30 17:47:54: Completed merge.
2016-05-30 17:47:54: Initializing pull_crsp function
2016-05-30 17:47:54: Checking inputs.
2016-05-30 17:47:54: Loading CRSP dataframe...
2016-05-30 17:47:54: Loaded.
2016-05-30 17:47:54: Converting SAS date to Pandas format.
2016-05-30 17:47:54: Converted.
2016-05-30 17:47:54: Merging CRSP to dataframe.
2016-05-30 17:47:54: Completed merge.

    PERMNO byvar       Date   RET      PRC    SHROUT
0    10516     a 2000-01-01  1.01      NaN       NaN
1    10516     a 2000-01-02  1.02      NaN       NaN
2    10516     a 2000-01-03  1.03  12.0000  608360.0
3    10516     a 2000-01-04  1.04  11.8750  608360.0
4    10516     b 2000-01-01  1.05      NaN       NaN
5    10516     b 2000-01-02  1.06      NaN       NaN
6    10516     b 2000-01-03  1.07  12.0000  608360.0
7    10516     b 2000-01-04  1.08  11.8750  608360.0
8    10517     a 2000-01-01  1.09      NaN       NaN
9    10517     a 2000-01-02  1.10      NaN       NaN
10   10517     a 2000-01-03  1.11  17.6250    3830.0
11   10517     a 2000-01-04  1.12  17.5625    3830.0

In [13]:
dero.data.get_gvkey_or_permno?

In [14]:
dero.data.get_gvkey_or_permno(permno_df_with_nan, 'Date', other_byvars='byvar')

   byvar       Date   PERMNO   GVKEY
0      a 2000-01-01  10516.0  1722.0
1      a 2000-01-02  10516.0  1722.0
2      a 2000-01-03  10516.0  1722.0
3      a 2000-01-04  10516.0  1722.0
4      b 2000-01-01  10516.0  1722.0
5      b 2000-01-02  10516.0  1722.0
6      b 2000-01-03  10516.0  1722.0
7      b 2000-01-04  10516.0  1722.0
8      a 2008-01-01      NaN     NaN
9      a 2009-01-02      NaN     NaN
10     a 2010-01-03  78049.0  1076.0
11     a 2011-01-04  10517.0  1076.0

In [3]:
df_weight

    PERMNO byvar      Date   RET  weight
0    10516     a  1/1/2000  1.01       0
1    10516     a  1/2/2000  1.02       1
2    10516     a  1/3/2000  1.03       1
3    10516     a  1/4/2000  1.04       0
4    10516     b  1/1/2000  1.05       1
5    10516     b  1/2/2000  1.06       1
6    10516     b  1/3/2000  1.07       1
7    10516     b  1/4/2000  1.08       1
8    10517     a  1/1/2000  1.09       0
9    10517     a  1/2/2000  1.10       0
10   10517     a  1/3/2000  1.11       0
11   10517     a  1/4/2000  1.12       1

In [4]:
df_weight['key'] = df_weight['PERMNO'].astype(str) + '_' + df_weight['byvar']
a = dero.pandas.reg_by(df_weight, 'weight', 'RET', 'key')
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(0.48774684748988806, '10516_a'),
(0.9388636664168903, '10516_b'),
(0.22929206076239614, '10517_a'),
], columns = ['coef_RET', 'key'])

In [7]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\ops.py(592)na_op()
-> result[mask] = op(x[mask], y)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\ops.py(651)wrapper()
-> return left._constructor(wrap_results(na_op(lvalues, rvalues)),
(Pdb) u
> <ipython-input-6-9a0f81226f55>(1)<module>()
-> df_weight['key'] = df_weight['PERMNO'] + '_' + df_weight['byvar']
(Pdb) u
> c:\anaconda3\lib\site-packages\ipython\core\interactiveshell.py(2885)run_code()
-> exec(code_obj, self.user_global_ns, self.user_ns)
(Pdb) d
> <ipython-input-6-9a0f81226f55>(1)<module>()
-> df_weight['key'] = df_weight['PERMNO'] + '_' + df_weight['byvar']
(Pdb) q

In [1]:
import os
import dero
import pandas as pd
import dill

os.chdir(r'C:\Users\derobertisna.UFAD\Dropbox\Python\Testing\package')

df = dill.load(open('reg_by_fail_full_df.p','rb'))

In [3]:
X

Empty DataFrame
Columns: [mktrf, smb, hml, umd]
Index: []

In [7]:
import statsmodels.api as sm

model = sm.OLS(y[1:], X.iloc[1:,:])
result = model.fit()

In [10]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    RET   R-squared:                       0.449
Model:                            OLS   Adj. R-squared:                  0.380
Method:                 Least Squares   F-statistic:                     6.516
Date:                Wed, 01 Jun 2016   Prob (F-statistic):           0.000592
Time:                        17:16:37   Log-Likelihood:                 58.906
No. Observations:                  36   AIC:                            -109.8
Df Residuals:                      32   BIC:                            -103.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
mktrf          0.8907      0.282      3.160      0.003         0.317     1.465
smb           -0.4281      0.436     -0.983      0.333        -1.315     0.459
hml           -0.5855      0.518     -1.129      0.267        -1.642     0.471
umd           -1.1429      0.361     -3.162      0.003        -1.879    -0.407
==============================================================================
Omnibus:                        5.802   Durbin-Watson:                   1.242
Prob(Omnibus):                  0.055   Jarque-Bera (JB):                5.157
Skew:                           0.927   Prob(JB):                       0.0759
Kurtosis:                       3.007   Cond. No.                         2.17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [5]:
y[1:]

197137   -0.086755
197138    0.033413
197139    0.041641
197140   -0.031306
197141    0.015253
197142    0.100739
197143    0.094049
197144    0.012621
197145    0.046620
197146    0.096252
197147    0.022589
197148    0.082785
197149    0.106139
197150    0.039914
197151    0.141626
197152    0.054545
197153   -0.027673
197154    0.016624
197155   -0.080000
197156    0.003529
197157   -0.002347
197158    0.000000
197159   -0.032805
197160    0.018433
197161    0.032105
197162   -0.018670
197163   -0.028797
197164    0.034463
197165    0.014168
197166   -0.032000
197167    0.023392
197168   -0.118191
197169   -0.028942
197170   -0.014749
197171    0.003937
197172    0.174567
Name: RET, dtype: float64

In [6]:
X.iloc[1:,:]

         mktrf     smb     hml     umd
197137 -0.0006  0.0257  0.0153  0.0105
197138  0.0254 -0.0214 -0.0342  0.0113
197139  0.0252  0.0417 -0.0189  0.0010
197140 -0.0197 -0.0380 -0.0161  0.0058
197141  0.0423  0.0049 -0.0075  0.0074
197142 -0.0204 -0.0428  0.0001 -0.0027
197143  0.0261  0.0299 -0.0066  0.0061
197144  0.0206 -0.0187 -0.0038  0.0099
197145 -0.0019 -0.0419  0.0157 -0.0390
197146  0.0043 -0.0183  0.0467 -0.0324
197147  0.0465  0.0032 -0.0048  0.0207
197148 -0.0332  0.0084 -0.0186  0.0172
197149  0.0281 -0.0043 -0.0015  0.0011
197150  0.0312  0.0134 -0.0033  0.0048
197151  0.0418 -0.0157  0.0130  0.0020
197152  0.0377  0.0285 -0.0159  0.0299
197153 -0.0271  0.0029 -0.0246  0.0007
197154  0.0565  0.0187  0.0074  0.0172
197155 -0.0120  0.0123 -0.0044  0.0066
197156  0.0280  0.0195  0.0132 -0.0188
197157  0.0156 -0.0240  0.0041  0.0035
197158  0.0403  0.0083 -0.0006  0.0209
197159  0.0129 -0.0039  0.0029  0.0147
197160  0.0557  0.0047  0.0131 -0.0191
197161  0.0118  0.0162  0.0325 -0.0296
197162  0.0078  0.0067 -0.0110  0.0033
197163 -0.0176 -0.0107  0.0414  0.0010
197164  0.0273  0.0049  0.0157 -0.0102
197165  0.0255  0.0071  0.0055 -0.0246
197166  0.0079 -0.0260  0.0002  0.0306
197167  0.0389  0.0082  0.0048 -0.0116
197168 -0.0619 -0.0012  0.0011  0.0664
197169 -0.0085 -0.0062 -0.0017  0.0381
197170  0.0311 -0.0024 -0.0006  0.0145
197171  0.0442 -0.0164  0.0004 -0.0039
197172  0.0505  0.0253 -0.0216 -0.0794

In [14]:
%load_ext memory_profiler

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

In [17]:
%%mprun -f dero.pandas.cumulate
cumvars = ['RET']
byvars = ['TICKER', 'Date']
time=[-12, -1, 12, 24, 36, 48, 60]
dero.pandas.cumulate(long_df, cumvars, periodvar='Shift Date', method='between',
                       byvars=byvars, time=time, grossify=True)

2016-05-31 14:16:39: Initializing cumulate.
*** KeyboardInterrupt exception caught in code being profiled.

In [44]:
firms = ltw['TICKER'].unique().tolist()
ten_firms = firms[:10]
ltw_test = ltw[ltw['TICKER'].isin(ten_firms)].copy()

In [3]:
len(ltw_test)

5412

In [6]:
ltw_test.duplicated().any()

False

In [11]:
ltw_test2 = ltw_test.drop(['cum_RET', '__key__'], axis=1)

In [36]:
ltw_test2.tail(20)

            volume TICKER       Date   PERMNO  Shift       RET
65614  2375.238095   AATI 2011-10-01  90854.0     48       NaN
65626  2375.238095   AATI 2011-10-01  90854.0     60       NaN
65638  2520.238095   AATI 2011-11-01  90854.0     -1  0.006928
65651  2520.238095   AATI 2011-11-01  90854.0     12       NaN
65663  2520.238095   AATI 2011-11-01  90854.0     24       NaN
65675  2520.238095   AATI 2011-11-01  90854.0     36       NaN
65687  2520.238095   AATI 2011-11-01  90854.0     48       NaN
65699  2520.238095   AATI 2011-11-01  90854.0     60       NaN
65711  2744.642857   AATI 2011-12-01  90854.0     -1  0.317660
65724  2744.642857   AATI 2011-12-01  90854.0     12       NaN
65736  2744.642857   AATI 2011-12-01  90854.0     24       NaN
65748  2744.642857   AATI 2011-12-01  90854.0     36       NaN
65760  2744.642857   AATI 2011-12-01  90854.0     48       NaN
65772  2744.642857   AATI 2011-12-01  90854.0     60       NaN
65784  2844.761905   AATI 2012-01-01  90854.0     -1  0.006092
65797  2844.761905   AATI 2012-01-01  90854.0     12       NaN
65809  2844.761905   AATI 2012-01-01  90854.0     24       NaN
65821  2844.761905   AATI 2012-01-01  90854.0     36       NaN
65833  2844.761905   AATI 2012-01-01  90854.0     48       NaN
65845  2844.761905   AATI 2012-01-01  90854.0     60       NaN

In [46]:
# ltw_test3 = ltw_test2.iloc[-12:,:].copy()
ltw_test3 = ltw_test2.loc[ltw_test2['TICKER'] == 'AAN', :].copy()
print(len(ltw_test3))
ltw_test3.head() # this one works`

528

             volume TICKER       Date   PERMNO  Shift       RET
24904  26790.874525    AAN 2009-05-01  10517.0     -1  0.301282
24917  26790.874525    AAN 2009-05-01  10517.0     12 -0.146588
24929  26790.874525    AAN 2009-05-01  10517.0     24 -0.020146
24941  26790.874525    AAN 2009-05-01  10517.0     36 -0.022819
24953  26790.874525    AAN 2009-05-01  10517.0     48 -0.021595

In [26]:
ltw_test4 = ltw_test2.loc[:,['TICKER','Date','RET','Shift']].copy()
ltw_test4.head()

   TICKER       Date       RET  Shift
11     AA 2004-01-01  0.158183     -1
24     AA 2004-01-01 -0.060789     12
36     AA 2004-01-01  0.065269     24
48     AA 2004-01-01  0.081973     36
60     AA 2004-01-01 -0.094665     48

In [10]:
ltw_test2.head()

          volume TICKER       Date   PERMNO  Shift       RET        __key__
11  2.198232e+06     AA 2004-01-01  24643.0     -1  0.158183  AA_2004-01-01
24  2.198232e+06     AA 2004-01-01  24643.0     12 -0.060789  AA_2004-01-01
36  2.198232e+06     AA 2004-01-01  24643.0     24  0.065269  AA_2004-01-01
48  2.198232e+06     AA 2004-01-01  24643.0     36  0.081973  AA_2004-01-01
60  2.198232e+06     AA 2004-01-01  24643.0     48 -0.094665  AA_2004-01-01

In [48]:
dero.pandas.show_df(ltw_test3)

In [47]:
# dero.pandas.long_to_wide(ltw_test, groupvars=['TICKER','Date'], values=['RET','cum_RET'], colindex='Shift')
dero.pandas.long_to_wide(ltw_test3, groupvars=['TICKER','Date'], values=['RET'], colindex='Shift')

ValueError: Index contains duplicate entries, cannot reshape

In [45]:
for firm in ten_firms:
    temp_df = ltw_test[ltw_test['TICKER'] == firm].copy()
    print(firm)
    dero.pandas.long_to_wide(temp_df, groupvars=['TICKER','Date'], values=['RET','cum_RET'], colindex='Shift')

AA
AAII
AAIT
AAL
AAME
AAN

ValueError: Index contains duplicate entries, cannot reshape

pd.DataFrame(data = [
(10516, 'a', '1/1/2000'),
(10516, 'a', '1/2/2000'),
(10516, 'a', '1/3/2000'),
(10516, 'a', '1/4/2000'),
(10516, 'b', '1/1/2000'),
(10516, 'b', '1/2/2000'),
(10516, 'b', '1/3/2000'),
(10516, 'b', '1/4/2000'),
(10517, 'a', '1/1/2000'),
(10517, 'a', '1/2/2000'),
(10517, 'a', '1/3/2000'),
(10517, 'a', '1/4/2000'),
], columns = ['PERMNO', 'byvar', 'Date'])

In [56]:
df['Date'] = pd.to_datetime(df['Date'])
df2 = dero.data.merge_dsenames(df, on='PERMNO', get='TICKER')

dero.pandas.to_copy_paste(df2.drop(['RET','PERMNO'], axis=1))

pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-01 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-02 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-03 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-04 00:00:00'), 'RNT'),
], columns = ['byvar', 'Date', 'TICKER'])

In [3]:
from pandas import Timestamp
dse_df = pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('a', Timestamp('2008-01-01 00:00:00'), 'AAN'),
('a', Timestamp('2009-01-02 00:00:00'), 'AAN'),
('a', Timestamp('2010-01-03 00:00:00'), 'AAN'),
('a', Timestamp('2011-01-04 00:00:00'), 'AAN'),
], columns = ['byvar', 'Date', 'TICKER'])

In [12]:
import dero
import pandas as pd
from dero.data import load_sas
from dero.pandas import convert_sas_date_to_pandas_date
import datetime, os

def merge_dsenames(df, on='TICKER', get='PERMNO', date='Date', 
                   other_byvars=None, 
                   crsp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP'):
    '''
    Merges with dsenames file on on variable (TICKER, PERMNO, PERMCO, NCUSIP), to get get variable (same list).
    Must have a Date variable in df.
    
    Default is to match on TICKER and pull PERMNO.
    
    Required inputs:
    df: pandas dataframe containing any of (TICKER, PERMNO, PERMCO, NCUSIP)
    
    Optional inputs:
    on: str, column name to merge on, one of (TICKER, PERMNO, PERMCO, NCUSIP)
    get: str or list, column or columns to get from dsenames, any of (TICKER, PERMNO, PERMCO, NCUSIP)
         that aren't already in on
    date: str, column name of date variable
    other_byvars: any other variables signifying groups in the data, prevents from collapsing those groups
    '''
    #Make get a list
    if isinstance(get, str):
        get = [get]
    assert isinstance(get, list)
    
    #Make other byvars a list
    if not other_byvars:
        other_byvars = []
    if isinstance(other_byvars, str):
        other_byvars = [other_byvars]
    assert isinstance(other_byvars, list)
    
    assert on not in get #can't get what we already have
    
    #Pull from CRSP dsenames file
    file = 'dsenames'
    fullpath = os.path.join(crsp_dir, file + '.sas7bdat')
    names_df = load_sas(fullpath)
    names_df['start'] = convert_sas_date_to_pandas_date(names_df['NAMEDT'])
    names_df['end'] = convert_sas_date_to_pandas_date(names_df['NAMEENDT'])
    names_df['end'] = names_df['end'].fillna(datetime.date.today())
    
#     pdb.set_trace()
    
    #Now perform merge
    merged = df.merge(names_df[['start','end', on] + get], how='left', on=on)
    #Drop out observations not in name date range
    valid = (merged[date] >= merged['start']) & (merged[date] <= merged['end'])
    #However if there is not a match, doing merged[valid] would drop the observation instead of leaving nan
    #Therefore, take merged[valid] and merge back again to original
    new_merged = df.merge(merged[valid].drop(['start','end'],axis=1), how='left', on=[on, date] + other_byvars)
    new_merged = new_merged.reset_index(drop=True)
    
    if 'PERMNO' in get:
        #Dsenames has no record of which permno is the primary link when a firm has multiple share classes.
        #To get this information, we must merge ccmxpf_linktable. We want to keep only primary links.
        dups = new_merged[[date, on] + other_byvars].duplicated(keep=False) #series of True or False of whether duplicated row
        if dups.any(): #this means we got more than one permno for a single period/firm/byvars
            duplicated = new_merged[dups].reset_index() #puts index in a column for later use
            not_duplicated = new_merged[~dups]
            
            #Take duplicated, merge to ccmxpf_linktable to get gvkey, and the ones which do not have gvkeys are
            #the non-primary links
            with_gvkey = get_gvkey_or_permno(duplicated, date) #default is to get gvkey with permno
            removed_duplicates = with_gvkey[~pd.isnull(with_gvkey['GVKEY'])].drop('GVKEY', axis=1)
            
            #Set index back
            removed_duplicates.set_index('index', inplace=True)
            
            #Now append back together and sort
            full = not_duplicated.append(removed_duplicates)
            new_merged = full.sort_index()
    
    return new_merged

a = merge_dsenames(dse_df, other_byvars='byvar')
a
# dero.pandas.to_copy_paste(a.drop('TICKER',axis=1))

   byvar       Date TICKER   PERMNO
0      a 2000-01-01    ADM  10516.0
1      a 2000-01-02    ADM  10516.0
2      a 2000-01-03    ADM  10516.0
3      a 2000-01-04    ADM  10516.0
4      b 2000-01-01    ADM  10516.0
5      b 2000-01-02    ADM  10516.0
6      b 2000-01-03    ADM  10516.0
7      b 2000-01-04    ADM  10516.0
8      a 2008-01-01    AAN      NaN
9      a 2009-01-02    AAN      NaN
11     a 2010-01-03    AAN  78049.0
12     a 2011-01-04    AAN  10517.0

In [111]:
dups = a[['Date','TICKER', 'byvar']].duplicated(keep=False)
d = a[['Date','TICKER', 'byvar','PERMNO']][dups]
e = get_gvkey_or_permno(d, 'Date')
e[~pd.isnull(e['GVKEY'])]

        Date TICKER byvar   PERMNO   GVKEY
1 2010-01-03    AAN     a  78049.0  1076.0

In [4]:
def get_gvkey_or_permno(df, datevar, get='GVKEY', other_byvars=None,
                        crsp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP'):
    """
    Takes a dataframe containing either GVKEY or PERMNO and merges to the CRSP linktable to get the other one.
    """    
    if get == 'GVKEY':
        rename_get = 'gvkey'
        l_on = 'PERMNO'
        r_on = 'lpermno'
    elif get == 'PERMNO':
        rename_get = 'lpermno'
        l_on = 'GVKEY'
        r_on = 'gvkey'
    else:
        raise ValueError('Need get="GVKEY" or "PERMNO"')
        
    #Make other byvars a list
    if not other_byvars:
        other_byvars = []
    if isinstance(other_byvars, str):
        other_byvars = [other_byvars]
    assert isinstance(other_byvars, list)
    
    link_name = 'ccmxpf_linktable.sas7bdat'
    link_path = os.path.join(crsp_dir, link_name)
    
    link = load_sas(link_path)
    link['linkdt'] = convert_sas_date_to_pandas_date(link['linkdt'])
    link['linkenddt'] = convert_sas_date_to_pandas_date(link['linkenddt'])
    #If end date is missing, that means link is still active. Make end date today.
    link['linkenddt'] = link['linkenddt'].fillna(datetime.date.today())
    
    #Remove links with no permno so that they don't match to nans in the input df
    link.dropna(subset=['lpermno'], inplace=True)
    
    merged = df.merge(link[['lpermno','gvkey', 'linkdt', 'linkenddt','linkprim']], how='left', left_on=l_on, right_on=r_on)

    valid = (merged[datevar] >= merged.linkdt) & \
            (merged[datevar] <= merged.linkenddt) & \
            (merged.linkprim == 'P')
        
    merged = merged[valid].drop(['linkdt','linkenddt', 'linkprim', r_on], axis=1).drop_duplicates()
    merged.rename(columns={rename_get:get}, inplace=True)
    
    #Now merge back to the original again to ensure that rows are not deleted
    new_merged = df.merge(merged[['PERMNO','GVKEY', datevar] + other_byvars],
                          how='left', on=[l_on, datevar] + other_byvars)
    
    return new_merged

get_gvkey_or_permno(a, datevar='Date', other_byvars='byvar')

NameError: name 'a' is not defined

In [84]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(483)_scalar_data_error()
-> repr(data)))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(268)__new__()
-> cls._scalar_data_error(data)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(3409)_ensure_index()
-> return Index(index_like)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(2066)get_indexer()
-> target = _ensure_index(target)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(2197)get_indexer_for()
-> return self.get_indexer(target, **kwargs)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\frame.py(3007)dropna()
-> indices = ax.get_indexer_for(subset)
(Pdb) u
> <ipython-input-83-b200c6dead32>(26)get_gvkey_or_permno()
-> link.dropna(subset='lpermno', inplace=True)
(Pdb) link.head(
*** SyntaxError: unexpected EOF while parsing
(Pdb) link.head()
   gvkey linkprim liid linktype  lpermno  lpermco  USEDFLAG     linkdt  \
0   1000        C  00X       NU      NaN      NaN      -1.0 1961-01-01
1   1000        P   01       NU      NaN      NaN      -1.0 1970-09-30
2   1000        P   01       LU  25881.0  23369.0       1.0 1970-11-13
3   1001        C  00X       NU      NaN      NaN      -1.0 1978-01-01
4   1001        P   01       LU  10015.0   6398.0       1.0 1983-09-20

   linkenddt
0 1970-09-29
1 1970-11-12
2 1978-06-30
3 1983-09-19
4 1986-07-31
(Pdb) q

In [82]:
from numpy import nan
b = dero.data.get_gvkey_or_permno(a, datevar='Date')
dero.pandas.to_copy_paste(b[~pd.isnull(b['PERMNO'])].reset_index(drop=True))

pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2010-01-03 00:00:00'), 'AAN', 78049.0, 1076),
('a', Timestamp('2011-01-04 00:00:00'), 'AAN', 10517.0, 1076),
], columns = ['byvar', 'Date', 'TICKER', 'PERMNO', 'GVKEY'])

In [25]:
avgs, ports = dero.pandas.portfolio_averages(df_weight, 'RET', 'RET', ngroups=2, byvars='byvar', wtvar='weight')
avgs

C:\Users\derobertisna.UFAD\Dropbox\Python\Dero\dero\pandas.py:493: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rows = df[(outdf[groupvar] >= low_cut) & (df[groupvar] <= high_cut)].index

   portfolio byvar    RET  RET_wavg
0          1     a  1.025     1.025
1          1     b  1.055     1.055
2          2     a  1.105     1.120
3          2     b  1.075     1.075

In [26]:
ports

    PERMNO byvar      Date   RET  weight  portfolio
0    10516     a  1/1/2000  1.01       0          1
1    10516     a  1/2/2000  1.02       1          1
2    10516     a  1/3/2000  1.03       1          1
3    10516     a  1/4/2000  1.04       0          1
4    10516     b  1/1/2000  1.05       1          1
5    10516     b  1/2/2000  1.06       1          1
6    10516     b  1/3/2000  1.07       1          2
7    10516     b  1/4/2000  1.08       1          2
8    10517     a  1/1/2000  1.09       0          2
9    10517     a  1/2/2000  1.10       0          2
10   10517     a  1/3/2000  1.11       0          2
11   10517     a  1/4/2000  1.12       1          2

In [27]:
dero.pandas.to_copy_paste(avgs)

pd.DataFrame(data = [
(1, 'a', 1.0250000000000001, 1.025),
(1, 'b', 1.0550000000000002, 1.0550000000000002),
(2, 'a', 1.1050000000000002, 1.12),
(2, 'b', 1.0750000000000002, 1.0750000000000002),
], columns = ['portfolio', 'byvar', 'RET', 'RET_wavg'])

In [34]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\dateutil\relativedelta.py(351)__add__()
-> raise TypeError("unsupported type for add operation")
(Pdb) u
> c:\anaconda3\lib\site-packages\dateutil\relativedelta.py(393)__radd__()
-> return self.__add__(other)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(118)<listcomp>()
-> df[newdate] = [date + time_shift(int(shift)) for date, shift in zip(df[datevar],df[shiftvar])]
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(118)_expand_time()
-> df[newdate] = [date + time_shift(int(shift)) for date, shift in zip(df[datevar],df[shiftvar])]
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(69)expand_time()
-> return _expand_time(df, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(293)get_crsp()
-> long_df = expand_time(long_df, datevar=newdate, freq=freq, time=prior_wind, newdate='Window Date', shiftvar='Wind')
(Pdb) newdate
'Date'
(Pdb) prior_wind
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
(Pdb) q

In [36]:
df['Date'] = pd.to_datetime(df['Date'])
dero.data.get_crsp(df, get='RET', abret=4, window=10, other_byvars='byvar', debug=True)

2016-05-29 17:41:34: Initializing get_crsp function
2016-05-29 17:41:34: All inputs:
2016-05-29 17:41:34: {'abret': 4, 'log': <function get_crsp.<locals>.log at 0x000000F92E1D41E0>, 'includecoef': False, 'wide': True, 'df':     PERMNO byvar       Date   RET
0    10516     a 2000-01-01  1.01
1    10516     a 2000-01-02  1.02
2    10516     a 2000-01-03  1.03
3    10516     a 2000-01-04  1.04
4    10516     b 2000-01-01  1.05
5    10516     b 2000-01-02  1.06
6    10516     b 2000-01-03  1.07
7    10516     b 2000-01-04  1.08
8    10517     a 2000-01-01  1.09
9    10517     a 2000-01-02  1.10
10   10517     a 2000-01-03  1.11
11   10517     a 2000-01-04  1.12, 'date': 'Date', 'cumret': False, 'other_byvars': 'byvar', '_get_crsp': <function get_crsp.<locals>._get_crsp at 0x000000F92E1D42F0>, 'get': 'RET', 'time': None, 'drop_first': False, 'crsp_dir': 'C:\\Users\\derobertisna.UFAD\\Desktop\\Data\\CRSP', 'debug': True, 'freq': 'm', 'window': 10, 'coid': 'PERMNO', 'includefac': False}
2016-05-29 17:41:34: Generating key.
2016-05-29 17:41:34: Abret detected.
2016-05-29 17:41:34: Creating abret window periods.
2016-05-29 17:41:34: Initializing expand_time for periods [0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10].
2016-05-29 17:41:34: Calculating number of rows.
2016-05-29 17:41:34: Calculating number of duplicates.
2016-05-29 17:41:34: Duplicating observations 10 times.
2016-05-29 17:41:34: Duplicated.
2016-05-29 17:41:34: Creating shift variable.
2016-05-29 17:41:34: Creating shifted date.
2016-05-29 17:41:34: expand_time completed.
2016-05-29 17:41:34: Merging with CRSP to get abret window data as well as regular data.
2016-05-29 17:41:34: Loading CRSP dataframe...
2016-05-29 17:41:34: Loaded.
2016-05-29 17:41:34: Converting SAS date to Pandas format.
2016-05-29 17:41:34: Converted.
2016-05-29 17:41:34: Merging CRSP to dataframe.
2016-05-29 17:41:34: Completed merge.
2016-05-29 17:41:34: Getting Fama-French factors
2016-05-29 17:41:34: Running regressions
2016-05-29 17:41:34: Dropping unneeded observations (abret window dates).
2016-05-29 17:41:34: Reshaping long to wide.

    PERMNO byvar       Date  RET_old       RET     ABRET
0    10516     a 2000-01-01     1.01 -0.030928  0.001891
1    10516     a 2000-01-02     1.02 -0.030928  0.001891
2    10516     a 2000-01-03     1.03 -0.030928  0.001891
3    10516     a 2000-01-04     1.04 -0.030928  0.001891
4    10516     b 2000-01-01     1.05 -0.030928  0.001891
5    10516     b 2000-01-02     1.06 -0.030928  0.001891
6    10516     b 2000-01-03     1.07 -0.030928  0.001891
7    10516     b 2000-01-04     1.08 -0.030928  0.001891
8    10517     a 2000-01-01     1.09 -0.078767 -0.036282
9    10517     a 2000-01-02     1.10 -0.078767 -0.036282
10   10517     a 2000-01-03     1.11 -0.078767 -0.036282
11   10517     a 2000-01-04     1.12 -0.078767 -0.036282

In [28]:
from pandas import Timestamp
b = pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-01 00:00:00'), 1.01, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-02 00:00:00'), 1.02, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-01 00:00:00'), 1.05, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-02 00:00:00'), 1.06, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, 2000, 1, 11.75, 608360.0),
(10517, 'a', Timestamp('2000-01-01 00:00:00'), 1.09, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-02 00:00:00'), 1.1, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, 2000, 1, -16.8125, 3830.0),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'Year', 'Month', 'PRC', 'SHROUT'])
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
PERMNO    12 non-null int64
byvar     12 non-null object
Date      12 non-null datetime64[ns]
RET       12 non-null float64
Year      12 non-null int64
Month     12 non-null int64
PRC       12 non-null float64
SHROUT    12 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 848.0+ bytes

In [14]:
import random
df2 = df.copy()
df2['extra var'] = [i for i in range(len(df2))]

In [15]:
df2

    PERMNO byvar      Date   RET  extra var
0    10516     a  1/1/2000  1.01          0
1    10516     a  1/2/2000  1.02          1
2    10516     a  1/3/2000  1.03          2
3    10516     a  1/4/2000  1.04          3
4    10516     b  1/1/2000  1.05          4
5    10516     b  1/2/2000  1.06          5
6    10516     b  1/3/2000  1.07          6
7    10516     b  1/4/2000  1.08          7
8    10517     a  1/1/2000  1.09          8
9    10517     a  1/2/2000  1.10          9
10   10517     a  1/3/2000  1.11         10
11   10517     a  1/4/2000  1.12         11

In [21]:
a = dero.pandas.long_to_wide(df, ['PERMNO', 'byvar'], 'RET' )#, colindex='Date')
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', '1/1/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/2/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/3/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/4/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'b', '1/1/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/2/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/3/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/4/2000', 1.05, 1.06, 1.07, 1.08),
(10517, 'a', '1/1/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/2/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/3/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/4/2000', 1.09, 1.1, 1.11, 1.12),
], columns = ['PERMNO', 'byvar', 'Date', 'RET0', 'RET1', 'RET2', 'RET3'])

In [13]:
import pdb
pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(139)_make_selectors()
-> raise ValueError('Index contains duplicate entries, '
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(101)__init__()
-> self._make_selectors()
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(407)unstack()
-> fill_value=fill_value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\series.py(2043)unstack()
-> return unstack(self, level, fill_value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(332)pivot()
-> return indexed.unstack(columns)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\frame.py(3846)pivot()
-> return pivot(self, index=index, columns=columns, values=values)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(386)long_to_wide()
-> raw_wide = df.pivot(index='__key__', columns=colindex, values=value)
(Pdb) df
    PERMNO byvar      Date   RET  extra var  __key__
0    10516     a  1/1/2000  1.01          0  10516_a
1    10516     a  1/2/2000  1.02          1  10516_a
2    10516     a  1/2/2000  1.02          2  10516_a
3    10516     a  1/3/2000  1.03          3  10516_a
4    10516     a  1/4/2000  1.04          4  10516_a
5    10516     b  1/1/2000  1.05          5  10516_b
6    10516     b  1/2/2000  1.06          6  10516_b
7    10516     b  1/3/2000  1.07          7  10516_b
8    10516     b  1/4/2000  1.08          8  10516_b
9    10517     a  1/1/2000  1.09          9  10517_a
10   10517     a  1/2/2000  1.10         10  10517_a
11   10517     a  1/3/2000  1.11         11  10517_a
12   10517     a  1/4/2000  1.12         12  10517_a
(Pdb) q

In [8]:
df.duplicated().any()

False

In [9]:
a = df.iterrows()
b = next(a)

In [8]:
a

   PERMNO byvar  RET1/1/2000  RET1/2/2000  RET1/3/2000  RET1/4/2000
0   10516     a         1.01         1.02         1.03         1.04
1   10516     b         1.05         1.06         1.07         1.08
2   10517     a         1.09         1.10         1.11         1.12

In [7]:
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', 1.01, 1.02, 1.03, 1.04),
(10516, 'b', 1.05, 1.06, 1.07, 1.08),
(10517, 'a', 1.09, 1.1, 1.11, 1.12),
], columns = ['PERMNO', 'byvar', 'RET1/1/2000', 'RET1/2/2000', 'RET1/3/2000', 'RET1/4/2000'])

In [7]:
print([i for i in df.columns])

['PERMNO', 'byvar', 'Date', 'RET']

In [54]:
import numpy as np
d = c.values
d = np.insert(d, 0, 1)
d

array([1, 10516, 'a', '1/2/2000', 1.02], dtype=object)

In [29]:
a = df.iterrows()

In [31]:
b = next(a)

In [36]:
c = b[1]
c?

In [42]:
[row[0] for row in df.iterrows()]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [41]:
[tuple(row[1].values) for row in df.iterrows()]

[(10516, 'a', '1/1/2000', 1.01),
 (10516, 'a', '1/2/2000', 1.02),
 (10516, 'a', '1/3/2000', 1.03),
 (10516, 'a', '1/4/2000', 1.04),
 (10516, 'b', '1/1/2000', 1.05),
 (10516, 'b', '1/2/2000', 1.06),
 (10516, 'b', '1/3/2000', 1.07),
 (10516, 'b', '1/4/2000', 1.08),
 (10517, 'a', '1/1/2000', 1.09),
 (10517, 'a', '1/2/2000', 1.1),
 (10517, 'a', '1/3/2000', 1.11),
 (10517, 'a', '1/4/2000', 1.12)]

In [22]:
(1.06000000000000001, 1)

(1.06, 1)

In [15]:
import pdb; pdb.pm()

> <ipython-input-14-55b4ea73ba63>(23)to_copy_paste()
-> out += val
(Pdb) val
1.01
(Pdb) out
[10516, 'a']
(Pdb) q.

In [7]:
a.to_clipboard()

OSError: exception: access violation writing 0x0000000000000000

In [4]:
cum_df = dero.pandas.cumulate(df, 'RET', method='between', periodvar='Date', byvars=['PERMNO','byvar'], time=[1,3])

2016-05-27 17:31:44: Initializing cumulate.
2016-05-27 17:31:44: Creating by groups.

In [5]:
expect_df = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01, 1.01),
                                (10516, 'a', '1/2/2000', 1.02, 1.02),
                                (10516, 'a', '1/3/2000', 1.03, 1.03),
                                (10516, 'a', '1/4/2000', 1.04, 1.0712),
                                (10516, 'b', '1/1/2000', 1.05, 1.05),
                                (10516, 'b', '1/2/2000', 1.06, 1.06),
                                (10516, 'b', '1/3/2000', 1.07, 1.07),
                                (10516, 'b', '1/4/2000', 1.08, 1.1556),
                                (10517, 'a', '1/1/2000', 1.09, 1.09),
                                (10517, 'a', '1/2/2000', 1.10, 1.10),
                                (10517, 'a', '1/3/2000', 1.11, 1.11),
                                (10517, 'a', '1/4/2000', 1.12, 1.2432),
                                ], columns = ['PERMNO','byvar','Date', 'RET', 'cum_RET'])

In [18]:
cum_df['cum_RET'] = cum_df['cum_RET'].astype('float64')

In [29]:
pd.util.testing.SimpleMock?

In [32]:
assert_frame_equal?

In [17]:
expect_df.dtypes

PERMNO       int64
byvar       object
Date        object
RET        float64
cum_RET    float64
dtype: object

In [6]:


byvars = ['PERMNO','byvar']
out = groupby_merge(df, byvars, 'max', subset='RET')

In [11]:
round?

In [18]:
round(1.070001, 2)

1.07

In [19]:
tups = list(out.itertuples(name=None))
[tup[1:-1] + (round(tup[-1], 2),) for tup in tups]

[(10516, 'a', '1/1/2000', 1.01, 1.04),
 (10516, 'a', '1/2/2000', 1.02, 1.04),
 (10516, 'a', '1/3/2000', 1.03, 1.04),
 (10516, 'a', '1/4/2000', 1.04, 1.04),
 (10516, 'b', '1/1/2000', 1.05, 1.0800000000000001),
 (10516, 'b', '1/2/2000', 1.0600000000000001, 1.0800000000000001),
 (10516, 'b', '1/3/2000', 1.0700000000000001, 1.0800000000000001),
 (10516, 'b', '1/4/2000', 1.0800000000000001, 1.0800000000000001),
 (10517, 'a', '1/1/2000', 1.0900000000000001, 1.1200000000000001),
 (10517, 'a', '1/2/2000', 1.1000000000000001, 1.1200000000000001),
 (10517, 'a', '1/3/2000', 1.1100000000000001, 1.1200000000000001),
 (10517, 'a', '1/4/2000', 1.1200000000000001, 1.1200000000000001)]

In [ ]:
dero.pandas.cumulate(df, 'RET', 'between', shiftvar='Date', 
                                      byvars=['PERMNO','byvar'], time=[1,3])

In [25]:
df

    PERMNO byvar      Date   RET
0    10516     a  1/1/2000  1.01
1    10516     a  1/2/2000  1.02
2    10516     a  1/3/2000  1.03
3    10516     a  1/4/2000  1.04
4    10516     b  1/1/2000  1.05
5    10516     b  1/2/2000  1.06
6    10516     b  1/3/2000  1.07
7    10516     b  1/4/2000  1.08
8    10517     a  1/1/2000  1.09
9    10517     a  1/2/2000  1.10
10   10517     a  1/3/2000  1.11
11   10517     a  1/4/2000  1.12

In [26]:
test = df.groupby(['PERMNO','byvar']).groups
test

{(10516, 'a'): [0, 1, 2, 3],
 (10516, 'b'): [4, 5, 6, 7],
 (10517, 'a'): [8, 9, 10, 11]}

In [30]:
import dero

In [51]:
import imp; imp.reload(dero)

In [21]:
a = df.groupby(['PERMNO','byvar']).transform(lambda x: x)
a.columns = [col + '_a' for col in a.columns]

In [22]:
pd.concat([df,a], axis=1)

    PERMNO byvar      Date   RET    Date_a  RET_a
0    10516     a  1/1/2000  1.01  1/1/2000   1.01
1    10516     a  1/2/2000  1.02  1/2/2000   1.02
2    10516     a  1/3/2000  1.03  1/3/2000   1.03
3    10516     a  1/4/2000  1.04  1/4/2000   1.04
4    10516     b  1/1/2000  1.05  1/1/2000   1.05
5    10516     b  1/2/2000  1.06  1/2/2000   1.06
6    10516     b  1/3/2000  1.07  1/3/2000   1.07
7    10516     b  1/4/2000  1.08  1/4/2000   1.08
8    10517     a  1/1/2000  1.09  1/1/2000   1.09
9    10517     a  1/2/2000  1.10  1/2/2000   1.10
10   10517     a  1/3/2000  1.11  1/3/2000   1.11
11   10517     a  1/4/2000  1.12  1/4/2000   1.12

In [ ]:
df_nan_byvar = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', 3),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [11]:
df.groupby(['PERMNO','byvar']).sum()

               RET
PERMNO byvar
10516  a      4.10
       b      4.26
10517  a      4.42

In [14]:
df.sort_values?

In [15]:
from dero.pandas import groupby_merge


a = groupby_index(df, ['PERMNO','byvar'], sortvars='Date')
a['group_index'] += 1

In [24]:
def funca(a):
    
    def funcb(b):
        return b + 1
    
    return funcb(a) + 1

funcb(1)

NameError: name 'funcb' is not defined

In [70]:
#need to add from itertools import chain

def create_windows(periods, method='between', time=[1,3]):
    if method.lower() == 'first':
        windows = [[0]]
        windows += [[i for i in range(1, len(periods))]]
        return windows
    elif method.lower() == 'between':
        windows = [[0]]
        t_bot = 0
        for i, t in enumerate(time): #pick each element of time
            if t == 0: continue #already added zero
            windows.append([i for i in range(t_bot + 1, t + 1)])
            t_bot = t
        #The last window is all the leftover periods after finishing time
        extra_windows = [[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]]
        if extra_windows != [[]]: #don't want to add empty window
            windows += extra_windows
        return windows
    elif method.lower() == 'zero':
        windows = []
        windows.append(periods[:periods.index(0) + 1]) #add times before 0, as well as 0
        windows.append([0]) #add 0
        windows.append(periods[periods.index(0) + 1:]) #add times after 0
        return windows
    
create_windows(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'], method='between', time=[1,3])

[[0], [1], [2, 3]]

In [136]:
def window_mapping(col):
    windows = create_windows(col)
    return [n for i in range(len(col.index)) for n, window in enumerate(windows) if i in window]

b = pd.Series(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'])
window_mapping(b)

[0, 1, 2, 2]

In [78]:
[[0], [1], [2, 3]].index([0])

0

[0, 1, 2]

In [42]:
periods = ['1/1/2000','1/2/2000','1/3/2000','1/4/2000']
windows = [[0], [1, 2]]

[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]

[3]

In [36]:
for i in range(1):
    print(i)

0

In [32]:
from itertools import chain
list(chain.from_iterable([[0],[1,[2,3,[4,5,6]]]]))

[0, 1, [2, 3, [4, 5, 6]]]

In [21]:
windows = [[1],[2,3],[4]]
a['map'] = a['group_index'].apply(lambda x: [x in window for window in windows].index(True))
list([tup[1:] for tup in a.itertuples(name=None)])

[(10516, 'a', '1/1/2000', 1.01, 1, 0),
 (10516, 'a', '1/2/2000', 1.02, 2, 1),
 (10516, 'a', '1/3/2000', 1.03, 3, 1),
 (10516, 'a', '1/4/2000', 1.04, 4, 2),
 (10516, 'b', '1/1/2000', 1.05, 1, 0),
 (10516, 'b', '1/2/2000', 1.0600000000000001, 2, 1),
 (10516, 'b', '1/3/2000', 1.0700000000000001, 3, 1),
 (10516, 'b', '1/4/2000', 1.0800000000000001, 4, 2),
 (10517, 'a', '1/1/2000', 1.0900000000000001, 1, 0),
 (10517, 'a', '1/2/2000', 1.1000000000000001, 2, 1),
 (10517, 'a', '1/3/2000', 1.1100000000000001, 3, 1),
 (10517, 'a', '1/4/2000', 1.1200000000000001, 4, 2)]

In [69]:
a['group_index'] -= 1
a

    PERMNO byvar      Date   RET  group_index  map
0    10516     a  1/1/2000  1.01            0    0
1    10516     a  1/2/2000  1.02            1    1
2    10516     a  1/3/2000  1.03            2    1
3    10516     a  1/4/2000  1.04            3    2
4    10516     b  1/1/2000  1.05            0    0
5    10516     b  1/2/2000  1.06            1    1
6    10516     b  1/3/2000  1.07            2    1
7    10516     b  1/4/2000  1.08            3    2
8    10517     a  1/1/2000  1.09            0    0
9    10517     a  1/2/2000  1.10            1    1
10   10517     a  1/3/2000  1.11            2    1
11   10517     a  1/4/2000  1.12            3    2

In [99]:
a.groupby(['PERMNO','byvar']).indices

{(10516, 'a'): array([0, 1, 2, 3]),
 (10516, 'b'): array([4, 5, 6, 7]),
 (10517, 'a'): array([ 8,  9, 10, 11])}

In [137]:
a.groupby(['PERMNO','byvar'])['Date'].transform(window_mapping)

0     0
1     1
2     2
3     2
4     0
5     1
6     2
7     2
8     0
9     1
10    2
11    2
Name: Date, dtype: object

In [141]:
dero.pandas.groupby_merge(df, ['PERMNO','byvar'], 'transform', (window_mapping), subset='Date')

    PERMNO byvar      Date   RET  Date_transform
0    10516     a  1/1/2000  1.01               0
1    10516     a  1/2/2000  1.02               1
2    10516     a  1/3/2000  1.03               2
3    10516     a  1/4/2000  1.04               2
4    10516     b  1/1/2000  1.05               0
5    10516     b  1/2/2000  1.06               1
6    10516     b  1/3/2000  1.07               2
7    10516     b  1/4/2000  1.08               2
8    10517     a  1/1/2000  1.09               0
9    10517     a  1/2/2000  1.10               1
10   10517     a  1/3/2000  1.11               2
11   10517     a  1/4/2000  1.12               2

In [122]:
def print_col(col):
    print('Type: ', type(col))
    print('Col:\n', col)
    print('\n\n')
    return col

In [117]:
c

  group  num1  num2
0     a     1     2
1     a     2     3
2     b     3     2
3     b     2     4

In [124]:
c = pd.DataFrame([('a',1,2),('a',2,3),('b',3,2),('b',2,4)], columns=['group','num1','num2'])
c.groupby('group')['num1'].transform(print_col)

Type:  <class 'pandas.core.series.Series'>
Col:
 0    1
1    2
Name: a, dtype: int64



Type:  <class 'pandas.core.series.Series'>
Col:
 2    3
3    2
Name: b, dtype: int64

0    1
1    2
2    3
3    2
Name: num1, dtype: int64

In [128]:
a.groupby(['PERMNO','byvar'])['Date'].transform(print_col)

Type:  <class 'pandas.core.series.Series'>
Col:
 0    1/1/2000
1    1/2/2000
2    1/3/2000
3    1/4/2000
Name: (10516, a), dtype: object



Type:  <class 'pandas.core.series.Series'>
Col:
 4    1/1/2000
5    1/2/2000
6    1/3/2000
7    1/4/2000
Name: (10516, b), dtype: object



Type:  <class 'pandas.core.series.Series'>
Col:
 8     1/1/2000
9     1/2/2000
10    1/3/2000
11    1/4/2000
Name: (10517, a), dtype: object

0     1/1/2000
1     1/2/2000
2     1/3/2000
3     1/4/2000
4     1/1/2000
5     1/2/2000
6     1/3/2000
7     1/4/2000
8     1/1/2000
9     1/2/2000
10    1/3/2000
11    1/4/2000
Name: Date, dtype: object

In [64]:
a['Date'].apply(create_windows)

0     [[0], [1], [2, 3], [4, 5, 6, 7]]
1     [[0], [1], [2, 3], [4, 5, 6, 7]]
2     [[0], [1], [2, 3], [4, 5, 6, 7]]
3     [[0], [1], [2, 3], [4, 5, 6, 7]]
4     [[0], [1], [2, 3], [4, 5, 6, 7]]
5     [[0], [1], [2, 3], [4, 5, 6, 7]]
6     [[0], [1], [2, 3], [4, 5, 6, 7]]
7     [[0], [1], [2, 3], [4, 5, 6, 7]]
8     [[0], [1], [2, 3], [4, 5, 6, 7]]
9     [[0], [1], [2, 3], [4, 5, 6, 7]]
10    [[0], [1], [2, 3], [4, 5, 6, 7]]
11    [[0], [1], [2, 3], [4, 5, 6, 7]]
Name: Date, dtype: object

In [55]:
#need to add from itertools import chain

def create_windows(periods, method, time):
    if method.lower() == 'first':
#             windows = [[periods[0]]]
#             if len(time) == 2:
#                 windows += [[periods[1]]]
#             elif len(time) > 2:
#                 windows += [periods[1:]]
#             return windows
        windows = [[0]]
        windows += [[i for i in range(1, len(periods))]]
        return windows
    elif method.lower() == 'between':
        windows = []
        for i, t in enumerate(time): #pick each element of time
            if i == 0:
                windows.append([0]) #first window for between is always just first return alone
                t_bot = 0
            else:
                windows.append([i for i in range(t_bot + 1, t + 1)])
                t_bot = t
        #The last window is all the leftover periods after finishing time
        extra_windows = [[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]]
        if extra_windows != [[]]: #don't want to add empty window
            windows += extra_windows
        return windows
    elif method.lower() == 'zero':
        windows = []
        windows.append(periods[:periods.index(0) + 1]) #add times before 0, as well as 0
        windows.append([0]) #add 0
        windows.append(periods[periods.index(0) + 1:]) #add times after 0
        return windows
    
create_windows(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'], method='between', time=[1,2])

[[0], [1, 2], [3]]

In [3]:
dero.pandas.groupby_merge?

In [7]:
dero.pandas.groupby_merge(df, ['PERMNO', 'byvar'], 'transform', (lambda x: [i for i in range(len(x))]), subset=['RET'])

    PERMNO byvar      Date   RET  RET_transform
0    10516     a  1/1/2000  1.01              0
1    10516     a  1/2/2000  1.02              1
2    10516     a  1/3/2000  1.03              2
3    10516     a  1/4/2000  1.04              3
4    10516     b  1/1/2000  1.05              0
5    10516     b  1/2/2000  1.06              1
6    10516     b  1/3/2000  1.07              2
7    10516     b  1/4/2000  1.08              3
8    10517     a  1/1/2000  1.09              0
9    10517     a  1/2/2000  1.10              1
10   10517     a  1/3/2000  1.11              2
11   10517     a  1/4/2000  1.12              3

In [41]:
df.groupby(['PERMNO','byvar']).transform(lambda x: [i for i in range(len(x))])

    Date  RET
0      0    0
1      1    1
2      2    2
3      3    3
4      0    0
5      1    1
6      2    2
7      3    3
8      0    0
9      1    1
10     2    2
11     3    3

In [27]:
windows = [[1],[2,3]]

for key in test:
    by_group_index = [i for i in range(len(test[key]))]
    
    
test

{(10516, 'a'): [0, 1, 2, 3],
 (10516, 'b'): [0, 1, 2, 3],
 (10517, 'a'): [0, 1, 2, 3]}

In [20]:
pd.DataFrame.from_dict(test, orient='index')

            0  1  2  3
(10516, b)  0  1  2  3
(10517, a)  0  1  2  3
(10516, a)  0  1  2  3

In [21]:
df

    PERMNO byvar      Date   RET
0    10516     a  1/1/2000  1.01
1    10516     a  1/2/2000  1.02
2    10516     a  1/3/2000  1.03
3    10516     a  1/4/2000  1.04
4    10516     b  1/1/2000  1.05
5    10516     b  1/2/2000  1.06
6    10516     b  1/3/2000  1.07
7    10516     b  1/4/2000  1.08
8    10517     a  1/1/2000  1.09
9    10517     a  1/2/2000  1.10
10   10517     a  1/3/2000  1.11
11   10517     a  1/4/2000  1.12

In [36]:
ks = df[['PERMNO', 'byvar']].apply(lambda x: '_'.join(x.astype(str)), axis=1)
ks

0     10516_a
1     10516_a
2     10516_a
3     10516_a
4     10516_b
5     10516_b
6     10516_b
7     10516_b
8     10517_a
9     10517_a
10    10517_a
11    10517_a
dtype: object

In [ ]:
def index_by_group(df, byvars, sortvar=None):
    """
    Sorts the dataframe by byvars, then sortvar, then produces a column which contains the integer index
    for each row in each group. Each time a new group is started, the value is zero.
    """
    key_series = df[byvars].apply(lambda x: '_'.join(x.astype(str)), axis=1)
    
    
    ###OLD CODE from split
    df = df.sort_values(['key', periodvar])
    small_df = df[['key'] + cumvars]
    arr = small_df.values
    splits = []
    for i in range(arr.shape[0]):
        if i == 0: continue
        if arr[i,0] != arr[i-1,0]: #different key
            splits.append(i)
    return np.split(arr[:,1:], splits)