In [1]:
import dero
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
dero.__version__

'0.8.18'

In [ ]:
df_extra = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

In [2]:
df = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])   

df_datetime = df.copy()
df_datetime['Date'] = pd.to_datetime(df_datetime['Date'])

In [7]:
df_extra_dates = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'a', '1/5/2000', 1.05),
                                (10516, 'a', '1/6/2000', 1.06),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                                (10517, 'a', '1/5/2000', 1.13),
                                (10517, 'a', '1/6/2000', 1.14),

                               ], columns = ['PERMNO','byvar','Date', 'RET'])   

    
df_extra_datetime = df_extra_dates.copy()
df_extra_datetime['Date'] = pd.to_datetime(df_extra_datetime['Date'])

In [2]:
from numpy import nan

df = pd.DataFrame(
        data=[
            (1, 2, 3),
            (4, 5, nan),
            (10, 11, 100)
        ],
        columns=['y', 'x1', 'x2']
    )

In [3]:
df_groups = pd.DataFrame(
        data=[
            (1, 2, 3, 'a'),
            (4, 5, 8, 'a'),
            (10, 11, 100, 'a'),
            (2, 4, 6, 'b'),
            (5, 10, 20, 'b'),
            (11, 15, 150, 'b'),
        ],
        columns=['y', 'x1', 'x2', 'group']
    )

df_two_groups = pd.DataFrame(
        data=[
            (1, 2, 3, 'a', 'c'),
            (4, 5, 8, 'a', 'd'),
            (10, 11, 100, 'a', 'd'),
            (2, 4, 6, 'b', 'c'),
            (5, 10, 20, 'b', 'd'),
            (11, 15, 150, 'b', 'd'),
        ],
        columns=['y', 'x1', 'x2', 'group1', 'group2']
    )

In [8]:
# result, dummy_cols_dict = dero.reg.reg(df_two_groups, 'y', ['x1','x2'], robust=False, fe=['group1', 'group2'])
result, dummy_cols_dict = dero.reg.reg(df_groups, 'y', ['x1','x2'], robust=False, fe='group')

In [4]:
summ = dero.reg.reg_for_each_xvar_set_and_produce_summary(
    df_groups, 'y',
    [
        ['x1'],
        ['x2'],
        ['x1', 'x2']
    ],
    robust = False,
    fe = [
        None,
        'group',
        'group'
    ]
                                            
)

In [5]:
from statsmodels.iolib.summary2 import summary_col
from dero.reg.fe.tools import extract_all_dummy_cols_from_dummy_cols_dict_list, extract_all_fe_names_from_dummy_cols_dict_list
from dero.reg.fe import add_fixed_effects_rows

def produce_summary(reg_sets, stderr=False, float_format='%0.1f'):
    
    reg_list, dummy_col_dicts = _extract_result_list_and_dummy_dicts(reg_sets)

    summ =  summary_col(reg_list, stars=True, float_format=float_format,
                        info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                      'R2':lambda x: "{:.2f}".format(x.rsquared),
                      'Adj-R2':lambda x: "{:.2f}".format(x.rsquared_adj)})
    
    # TODO: handle removing stderr for FE when stderr=True
    
    # Handle fe - remove individual fe cols and replace with e.g. Industry Fixed Effects No, Yes, Yes
    all_cols_to_remove = extract_all_dummy_cols_from_dummy_cols_dict_list(dummy_col_dicts)
    summ.tables[0].drop(all_cols_to_remove, axis=0, inplace=True)
    fe_dict = _multiple_model_fe_dict_from_dummy_col_dict_list(dummy_col_dicts)
    summ.tables[0] = add_fixed_effects_rows(summ.tables[0], fe_dict)
    

    if not stderr:
        summ.tables[0].drop('', axis=0, inplace=True) #drops the rows containing standard errors

    return summ

def _extract_result_list_and_dummy_dicts(result_sets):
    plain_results = []
    dummy_dicts = []
    for ambiguous_result in result_sets:
        # This is the case where fe has been passed, and we have a dummy_col_dict
        if isinstance(ambiguous_result, tuple):
            plain_results.append(ambiguous_result[0])
            dummy_dicts.append(ambiguous_result[1])
        # No fe passed, just plain result
        else:
            plain_results.append(ambiguous_result)
            dummy_dicts.append(None) #keep order by appending None
            
    return plain_results, dummy_dicts

def _multiple_model_fe_dict_from_dummy_col_dict_list(dummy_col_dict_list):
    fixed_effect_rows = extract_all_fe_names_from_dummy_cols_dict_list(dummy_col_dict_list)
    out_dict = {fe_name: [] for fe_name in fixed_effect_rows}
    for dummy_col_dict in dummy_col_dict_list:
        for fe_name in fixed_effect_rows:
            if (not dummy_col_dict) or (fe_name not in dummy_col_dict):
                out_dict[fe_name].append(False)
            else:
                out_dict[fe_name].append(True)
                
    return out_dict

In [6]:
reg_list, dummy_col_dicts = _extract_result_list_and_dummy_dicts(result_sets)

In [16]:
dummy_col_dicts

[None, {'group': ['a', 'b']}, {'group': ['a', 'b']}]

In [7]:
_multiple_model_fe_dict_from_dummy_col_dict_list(dummy_col_dicts)

{'group': [False, True, True]}

In [7]:
produce_summary(result_sets, stderr=True)

<class 'statsmodels.iolib.summary2.Summary'>
"""

======================================
                     y I    y II y III
--------------------------------------
                           (0.7) (0.4)
                           (0.8) (0.7)
const               -0.7   1.6*  -0.2
                    (1.3)  (0.6) (0.7)
x1                  0.8***       0.6
                    (0.1)        (0.2)
x2                         0.1** 0.0
                           (0.0) (0.0)
N                   6      6     6
R2                  0.89   0.90  0.98
Adj-R2              0.86   0.84  0.95
group Fixed Effects False  True  True
======================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""

In [5]:
[isinstance(i, tuple) for i in result_sets]

[False, True, True]

In [7]:
type(None)`

NoneType

In [6]:
isinstance(None, NoneType)

NameError: name 'NoneType' is not defined

In [10]:
dero.pandas.to_copy_paste(pd.DataFrame(result.params))

pd.DataFrame(data = [
(-0.23049716725241853,),
(0.60590360637890839,),
(0.022986080158407668,),
(0.74459056311787641,),
(-0.97508773037029473,),
], columns = [0])

In [11]:
dero.pandas.to_copy_paste(result.cov_params())

pd.DataFrame(data = [
(0.51833530035154651, -0.13516173067093232, 0.0077398741774187142, 0.095219780867766016, 0.42311551948378062),
(-0.13516173067093232, 0.043999645145278161, -0.0029669956299292191, -0.019057301893355846, -0.11610442877757651),
(0.0077398741774187142, -0.0029669956299292191, 0.00024317047738642891, 0.0010647919388587532, 0.0066750822385599623),
(0.095219780867766016, -0.019057301893355846, 0.0010647919388587532, 0.15764681227101526, -0.06242703140324924),
(0.42311551948378062, -0.11610442877757651, 0.0066750822385599623, -0.06242703140324924, 0.48554255088702991),
], columns = ['const', 'x1', 'x2', 'a', 'b'])

In [8]:
dummy_cols_dict

{'group1': ['a', 'b'], 'group2': ['c', 'd']}

In [14]:
def _extract_all_dummy_cols_from_dummy_cols_dict(dummy_cols_dict):
    all_values = []
    for fe_col, fe_values in dummy_cols_dict.items():
        all_values += fe_values
    return all_values
_extract_all_dummy_cols_from_dummy_cols_dict(dummy_cols_dict)

['a', 'b', 'c', 'd']

In [24]:
def fixed_effects_reg_df_and_cols_dict(df, fe_vars):
    fe_vars = _to_list_if_str(fe_vars)
    
    fe_cols_dict = {}
    for fe_var in fe_vars:
        df, cols = _fixed_effects_reg_df_and_cols(df, fe_var)
        fe_cols_dict[fe_var] = cols
        
    return df, fe_cols_dict

def _fixed_effects_reg_df_and_cols(df, fe_var):
    dummies = pd.get_dummies(df[fe_var])
    dummy_cols = [col for col in dummies.columns]
    return pd.concat([df, dummies], axis=1).drop(fe_var, axis=1), dummy_cols

def _to_list_if_str(list_):
    if isinstance(list_, str):
        list_ = [list_]
    assert isinstance(list_, list)
    return list_

df, dummy_cols_dict = fixed_effects_reg_df_and_cols_dict(df_two_groups, ['group1', 'group2'])

In [25]:
df

    y  x1   x2  a  b  c  d
0   1   2    3  1  0  1  0
1   4   5    8  1  0  0  1
2  10  11  100  1  0  0  1
3   2   4    6  0  1  1  0
4   5  10   20  0  1  0  1
5  11  15  150  0  1  0  1

In [26]:
dummy_cols_dict

{'group1': ['a', 'b'], 'group2': ['c', 'd']}

In [19]:
import pdb
pdb.pm()

> c:\programdata\anaconda3\lib\site-packages\pandas\core\indexes\base.py(3575)drop()
-> labels[mask])
(Pdb) u
> c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py(2050)drop()
-> new_axis = axis.drop(labels, errors=errors)
(Pdb) u
> <ipython-input-18-e7d06c8d8b92>(11)_fixed_effects_reg_df_and_cols()
-> return pd.concat([df_groups, dummies], axis=1).drop(fe_var, axis=1), dummy_cols
(Pdb) dummies
   a  b
0  1  0
1  1  0
2  1  0
3  0  1
4  0  1
5  0  1
(Pdb) df_groups
    y  x1   x2 group
0   1   2    3     a
1   4   5    8     a
2  10  11  100     a
3   2   4    6     b
4   5  10   20     b
5  11  15  150     b
(Pdb) exit

In [16]:
dummy_cols

['a', 'b']

In [4]:
result = dero.reg.reg(df, 'y', ['x1', 'x2'], robust=False, cluster=False, cons=False)

In [7]:
dero.pandas.to_copy_paste(result.cov_params())

pd.DataFrame(data = [
(inf, -inf),
(-inf, inf),
], columns = ['x1', 'x2'])

In [5]:
dero.pandas.to_copy_paste(pd.DataFrame(result.params))

pd.DataFrame(data = [
(0.41916167664670689,),
(0.053892215568862201,),
], columns = [0])

In [1]:
import dero
import pandas as pd
from pandas import Timestamp
from testutils.byvars import add_fake_byvars


df_get_data = pd.DataFrame(data = [
    (10516, Timestamp('2000-01-03 00:00:00')),
    (10517, Timestamp('2000-01-04 00:00:00')),
    ], columns = ['PERMNO', 'Date'])

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
factors = ['mktrf','smb','hml','rmw','cma']

def _get_reg_by_test_df(df_get_data, time=[-100,0], **add_fake_byvars_kwargs):
    df_get_data_byvars = add_fake_byvars(df_get_data, **add_fake_byvars_kwargs)
    byvars = [col for col in df_get_data_byvars if 'byvar' in col]
    all_byvars = ['PERMNO'] + byvars

    crsp = dero.data.GetCRSP(debug=True)
    ret_df = crsp.pull_crsp(
        df_get_data_byvars, get=['RET'], time=time, between_time=True, wide=False, freq='d' , other_byvars=byvars
    )
    reg_df = dero.data.get_ff_factors(ret_df, fulldatevar='Shift Date', freq='d')
    
    
    return reg_df, all_byvars
    
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, num_byvars=5)

2017-12-10 19:30:20: Initializing pull_crsp function
2017-12-10 19:30:20: Checking inputs.
2017-12-10 19:30:20: Loading CRSP dataframe...
2017-12-10 19:30:21: Loaded.
2017-12-10 19:30:21: Converting SAS date to Pandas format.
2017-12-10 19:30:21: Converted.
2017-12-10 19:30:21: Time detected.
2017-12-10 19:30:21: Generating periods [-100, 0] + itermediate
2017-12-10 19:30:21: Initializing expand_time for periods [-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0].
2017-12-10 19:30:21: Daily frequency, getting trading day calendar.
2017-12-10 19:30:23: Calculating number of rows.
2017-12-10 19:30:23: Calculating number of duplicates.
2017-12-10 19:30:23: Duplicating observations 100 times.
2017-12-10 19:30:23: Duplicated.
2017-12-10 19:30:23: Creating shift variable.
2017-12-10 19:30:23: Creating shifted date.
2017-12-10 19:30:23: expand_time completed.
2017-12-10 19:30:23: Finished generating periods. Generating key.
2017-12-10 19:30:23: Merging CRSP to dataframe.
2017-12-10 19:30:23: Completed merge.

In [3]:
import statsmodels.api as sm
import numpy as np
from numpy import nan

In [4]:
result = dero.pandas.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

In [5]:
result

,PERMNO,Date,byvar,byvar1,byvar2,byvar3,byvar4,Shift,Shift Date,RET,...,hml,rmw,cma,rf,const,coef_mktrf,coef_smb,coef_hml,coef_rmw,coef_cma
0,10516,2000-01-03,0,0,0,0,0,-100,1999-08-11,0.008696,...,-0.0023,-0.0042,-0.0072,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
1,10516,2000-01-03,0,0,0,0,0,-99,1999-08-12,-0.012931,...,0.0011,-0.0026,0.0026,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
2,10516,2000-01-03,0,0,0,0,0,-98,1999-08-13,0.008734,...,-0.0097,0.0013,-0.0113,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
3,10516,2000-01-03,0,0,0,0,0,-97,1999-08-16,0.004329,...,-0.0052,-0.0009,0.0010,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
4,10516,2000-01-03,0,0,0,0,0,-96,1999-08-17,0.000000,...,-0.0029,-0.0021,-0.0031,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
5,10516,2000-01-03,0,0,0,0,0,-95,1999-08-18,0.004310,...,-0.0021,-0.0018,-0.0002,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
6,10516,2000-01-03,0,0,0,0,0,-94,1999-08-19,-0.008584,...,0.0067,-0.0007,0.0076,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
7,10516,2000-01-03,0,0,0,0,0,-93,1999-08-20,-0.009091,...,-0.0044,-0.0010,0.0000,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
8,10516,2000-01-03,0,0,0,0,0,-92,1999-08-23,-0.009174,...,-0.0088,0.0013,-0.0077,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
9,10516,2000-01-03,0,0,0,0,0,-91,1999-08-24,-0.013889,...,-0.0037,-0.0002,-0.0070,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
10,10516,2000-01-03,0,0,0,0,0,-90,1999-08-25,0.004695,...,-0.0149,0.0007,-0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
11,10516,2000-01-03,0,0,0,0,0,-89,1999-08-26,0.004673,...,0.0027,-0.0015,0.0022,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
12,10516,2000-01-03,0,0,0,0,0,-88,1999-08-27,-0.013953,...,0.0039,-0.0019,0.0004,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
13,10516,2000-01-03,0,0,0,0,0,-87,1999-08-30,-0.033019,...,-0.0008,0.0038,0.0044,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
14,10516,2000-01-03,0,0,0,0,0,-86,1999-08-31,0.014634,...,-0.0013,-0.0070,-0.0034,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
15,10516,2000-01-03,0,0,0,0,0,-85,1999-09-01,0.009615,...,-0.0013,0.0021,0.0028,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
16,10516,2000-01-03,0,0,0,0,0,-84,1999-09-02,-0.028571,...,0.0011,0.0005,0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
17,10516,2000-01-03,0,0,0,0,0,-83,1999-09-03,0.029412,...,-0.0123,-0.0023,-0.0052,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
18,10516,2000-01-03,0,0,0,0,0,-82,1999-09-07,-0.004762,...,-0.0005,-0.0048,0.0013,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
19,10516,2000-01-03,0,0,0,0,0,-81,1999-09-08,0.014354,...,0.0031,-0.0020,0.0057,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
20,10516,2000-01-03,0,0,0,0,0,-80,1999-09-09,0.014151,...,0.0005,-0.0066,-0.0025,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
21,10516,2000-01-03,0,0,0,0,0,-79,1999-09-10,-0.018605,...,-0.0048,-0.0058,-0.0080,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
22,10516,2000-01-03,0,0,0,0,0,-78,1999-09-13,-0.009479,...,0.0032,0.0032,0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
23,10516,2000-01-03,0,0,0,0,0,-77,1999-09-14,0.000000,...,-0.0026,-0.0024,-0.0012,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
24,10516,2000-01-03,0,0,0,0,0,-76,1999-09-15,0.009569,...,0.0079,0.0028,-0.0008,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
25,10516,2000-01-03,0,0,0,0,0,-75,1999-09-16,-0.004739,...,0.0004,0.0017,0.0029,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
26,10516,2000-01-03,0,0,0,0,0,-74,1999-09-17,-0.028571,...,-0.0081,-0.0013,-0.0049,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
27,10516,2000-01-03,0,0,0,0,0,-73,1999-09-20,0.009804,...,-0.0061,0.0024,-0.0052,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
28,10516,2000-01-03,0,0,0,0,0,-72,1999-09-21,-0.058252,...,0.0008,0.0003,0.0013,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
29,10516,2000-01-03,0,0,0,0,0,-71,1999-09-22,0.036082,...,-0.0074,-0.0049,-0.0017,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6434,10517,2000-01-04,1,1,1,1,1,-29,1999-11-22,-0.042857,...,-0.0092,0.0008,-0.0026,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6435,10517,2000-01-04,1,1,1,1,1,-28,1999-11-23,-0.029851,...,0.0030,0.0058,-0.0005,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6436,10517,2000-01-04,1,1,1,1,1,-27,1999-11-24,-0.023077,...,-0.0089,-0.0035,-0.0014,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6437,10517,2000-01-04,1,1,1,1,1,-26,1999-11-26,0.015748,...,-0.0020,-0.0050,0.0015,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6438,10517,2000-01-04,1,1,1,1,1,-25,1999-11-29,-0.007752,...,-0.0014,0.0016,0.0071,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6439,10517,2000-01-04,1,1,1,1,1,-24,1999-11-30,0.007812,...,0.0128,0.0052,0.0090,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6440,10517,2000-01-04,1,1,1,1,1,-23,1999-12-01,0.008992,...,-0.0029,0.0016,-0.0033,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6441,10517,2000-01-04,1,1,1,1,1,-22,1999-12-02,0.000000,...,-0.0100,-0.0093,-0.0056,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6442,10517,2000-01-04,1,1,1,1,1,-21,1999-12-03,0.000000,...,-0.0052,-0.0024,-0.0034,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6443,10517,2000-01-04,1,1,1,1,1,-20,1999-12-06,-0.015385,...,-0.0054,-0.0091,-0.0039,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6444,10517,2000-01-04,1,1,1,1,1,-19,1999-12-07,0.003906,...,-0.0114,-0.0140,-0.0019,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6445,10517,2000-01-04,1,1,1,1,1,-18,1999-12-08,0.000000,...,-0.0046,-0.0053,0.0004,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6446,10517,2000-01-04,1,1,1,1,1,-17,1999-12-09,-0.011673,...,-0.0055,-0.0056,-0.0034,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6447,10517,2000-01-04,1,1,1,1,1,-16,1999-12-10,0.259843,...,-0.0069,-0.0022,-0.0075,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6448,10517,2000-01-04,1,1,1,1,1,-15,1999-12-13,-0.062500,...,-0.0066,-0.0074,-0.0040,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6449,10517,2000-01-04,1,1,1,1,1,-14,1999-12-14,-0.010000,...,0.0126,0.0107,0.0089,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6450,10517,2000-01-04,1,1,1,1,1,-13,1999-12-15,-0.023569,...,0.0013,0.0082,-0.0049,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6451,10517,2000-01-04,1,1,1,1,1,-12,1999-12-16,0.048276,...,-0.0073,-0.0098,-0.0081,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6452,10517,2000-01-04,1,1,1,1,1,-11,1999-12-17,-0.032895,...,-0.0023,-0.0046,-0.0028,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6453,10517,2000-01-04,1,1,1,1,1,-10,1999-12-20,0.006803,...,-0.0067,0.0003,-0.0014,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6454,10517,2000-01-04,1,1,1,1,1,-9,1999-12-21,-0.003378,...,-0.0076,-0.0110,-0.0050,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6455,10517,2000-01-04,1,1,1,1,1,-8,1999-12-22,-0.003390,...,-0.0019,-0.0014,0.0005,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6456,10517,2000-01-04,1,1,1,1,1,-7,1999-12-23,0.000000,...,-0.0034,0.0002,-0.0011,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6457,10517,2000-01-04,1,1,1,1,1,-6,1999-12-27,-0.003401,...,-0.0072,0.0036,0.0002,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6458,10517,2000-01-04,1,1,1,1,1,-5,1999-12-28,-0.003413,...,0.0014,-0.0033,0.0044,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6459,10517,2000-01-04,1,1,1,1,1,-4,1999-12-29,0.003425,...,-0.0010,-0.0089,-0.0061,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6460,10517,2000-01-04,1,1,1,1,1,-3,1999-12-30,-0.006826,...,-0.0010,0.0049,-0.0021,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6461,10517,2000-01-04,1,1,1,1,1,-2,1999-12-31,0.003436,...,0.0030,-0.0058,0.0014,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6462,10517,2000-01-04,1,1,1,1,1,-1,2000-01-03,-0.034247,...,-0.0084,-0.0140,-0.0074,0.00021,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6463,10517,2000-01-04,1,1,1,1,1,0,2000-01-04,-0.003546,...,0.0221,0.0037,0.0146,0.00021,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994

In [5]:
import pdb
pdb.pm()

> c:\users\derobertisna.ufad\dropbox (personal)\python\dero\dero\ext_pandas\regby.py(138)_result_list_of_arrays_to_df()
-> result_df = pd.DataFrame(np.concatenate(results, axis=0))
(Pdb) results
[(1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32')), (1, array([['-0.000639186211464901', '0.485833039751378', '1.0200353696254014',
        '-0.20518064599938715', '0.443743299657371', '-0.4909943879426267',
        '1051700000']],
      dtype='<U32'))]

(Pdb) q

In [28]:
arrs = split(reg_df, ['RET','byvar'], keyvar='PERMNO')

In [30]:
arr = arrs[0]

In [33]:
arr[0,:]

array([0.008695651777088642, 0], dtype=object)

In [73]:
len(reg_df)

25856

In [9]:
import numpy as np

### New

#### 5 byvars, 2 obs per byvar, 100 days

In [5]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, num_byvars=5)
print(len(reg_df))
%timeit result = dero.pandas.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 18:14:55: Initializing pull_crsp function
2017-12-10 18:14:55: Checking inputs.
2017-12-10 18:14:55: Loading CRSP dataframe...
2017-12-10 18:14:55: Loaded.
2017-12-10 18:14:55: Converting SAS date to Pandas format.
2017-12-10 18:14:55: Converted.
2017-12-10 18:14:55: Time detected.
2017-12-10 18:14:55: Generating periods [-100, 0] + itermediate
2017-12-10 18:14:55: Initializing expand_time for periods [-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0].
2017-12-10 18:14:55: Daily frequency, getting trading day calendar.
2017-12-10 18:14:56: Calculating number of rows.
2017-12-10 18:14:56: Calculating number of duplicates.
2017-12-10 18:14:56: Duplicating observations 100 times.
2017-12-10 18:14:57: Duplicated.
2017-12-10 18:14:57: Creating shift variable.
2017-12-10 18:14:57: Creating shifted date.
2017-12-10 18:14:57: expand_time completed.
2017-12-10 18:14:57: Finished generating periods. Generating key.
2017-12-10 18:14:57: Merging CRSP to dataframe.
2017-12-10 18:14:57: Completed merge.
6464
10 loops, best of 3: 110 ms per loop

#### 7 byvars, 2 obs per byvar, 100 days. Many byvars case

In [6]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, num_byvars=7)
print(len(reg_df))
%timeit result = dero.pandas.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 18:15:08: Initializing pull_crsp function
2017-12-10 18:15:08: Checking inputs.
2017-12-10 18:15:08: Loading CRSP dataframe...
2017-12-10 18:15:08: Loaded.
2017-12-10 18:15:08: Converting SAS date to Pandas format.
2017-12-10 18:15:08: Converted.
2017-12-10 18:15:08: Time detected.
2017-12-10 18:15:08: Generating periods [-100, 0] + itermediate
2017-12-10 18:15:08: Initializing expand_time for periods [-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0].
2017-12-10 18:15:08: Daily frequency, getting trading day calendar.
2017-12-10 18:15:10: Calculating number of rows.
2017-12-10 18:15:10: Calculating number of duplicates.
2017-12-10 18:15:10: Duplicating observations 100 times.
2017-12-10 18:15:10: Duplicated.
2017-12-10 18:15:10: Creating shift variable.
2017-12-10 18:15:10: Creating shifted date.
2017-12-10 18:15:11: expand_time completed.
2017-12-10 18:15:11: Finished generating periods. Generating key.
2017-12-10 18:15:11: Merging CRSP to dataframe.
2017-12-10 18:15:11: Completed merge.
25856
1 loop, best of 3: 524 ms per loop

#### 1 byvars, 2 obs per byvar, 2000 days. Many per byvar case

In [7]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, time=[0,2000], num_byvars=2)
print(len(reg_df))
%timeit result = dero.pandas.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 18:15:13: Initializing pull_crsp function
2017-12-10 18:15:13: Checking inputs.
2017-12-10 18:15:13: Loading CRSP dataframe...
2017-12-10 18:15:13: Loaded.
2017-12-10 18:15:13: Converting SAS date to Pandas format.
2017-12-10 18:15:13: Converted.
2017-12-10 18:15:13: Time detected.
2017-12-10 18:15:13: Generating periods [0, 2000] + itermediate
2017-12-10 18:15:13: Initializing expand_time for periods [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000].

2017-12-10 18:15:13: Daily frequency, getting trading day calendar.
2017-12-10 18:15:15: Calculating number of rows.
2017-12-10 18:15:15: Calculating number of duplicates.
2017-12-10 18:15:15: Duplicating observations 2000 times.
2017-12-10 18:15:15: Duplicated.
2017-12-10 18:15:15: Creating shift variable.
2017-12-10 18:15:15: Creating shifted date.
2017-12-10 18:15:16: expand_time completed.
2017-12-10 18:15:16: Finished generating periods. Generating key.
2017-12-10 18:15:16: Merging CRSP to dataframe.
2017-12-10 18:15:16: Completed merge.
16008
10 loops, best of 3: 109 ms per loop

### Original

#### 5 byvars, 2 obs per byvar, 100 days (~6000 obs)

In [6]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, num_byvars=5)
print(len(reg_df))
%timeit orig_result = dero.data.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 17:39:11: Initializing pull_crsp function
2017-12-10 17:39:11: Checking inputs.
2017-12-10 17:39:11: Loading CRSP dataframe...
2017-12-10 17:39:11: Loaded.
2017-12-10 17:39:11: Converting SAS date to Pandas format.
2017-12-10 17:39:11: Converted.
2017-12-10 17:39:11: Time detected.
2017-12-10 17:39:11: Generating periods [-100, 0] + itermediate
2017-12-10 17:39:11: Initializing expand_time for periods [-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0].
2017-12-10 17:39:11: Daily frequency, getting trading day calendar.
2017-12-10 17:39:12: Calculating number of rows.
2017-12-10 17:39:12: Calculating number of duplicates.
2017-12-10 17:39:12: Duplicating observations 100 times.
2017-12-10 17:39:12: Duplicated.
2017-12-10 17:39:12: Creating shift variable.
2017-12-10 17:39:12: Creating shifted date.
2017-12-10 17:39:13: expand_time completed.
2017-12-10 17:39:13: Finished generating periods. Generating key.
2017-12-10 17:39:13: Merging CRSP to dataframe.
2017-12-10 17:39:13: Completed merge.
6464
10 loops, best of 3: 179 ms per loop

#### 7 byvars, 2 obs per byvar, 100 days (~25k obs). Many byvars case

In [7]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, num_byvars=7)
print(len(reg_df))
%timeit orig_result = dero.data.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 17:40:08: Initializing pull_crsp function
2017-12-10 17:40:08: Checking inputs.
2017-12-10 17:40:08: Loading CRSP dataframe...
2017-12-10 17:40:08: Loaded.
2017-12-10 17:40:08: Converting SAS date to Pandas format.
2017-12-10 17:40:08: Converted.
2017-12-10 17:40:08: Time detected.
2017-12-10 17:40:08: Generating periods [-100, 0] + itermediate
2017-12-10 17:40:08: Initializing expand_time for periods [-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0].
2017-12-10 17:40:08: Daily frequency, getting trading day calendar.
2017-12-10 17:40:10: Calculating number of rows.
2017-12-10 17:40:10: Calculating number of duplicates.
2017-12-10 17:40:10: Duplicating observations 100 times.
2017-12-10 17:40:10: Duplicated.
2017-12-10 17:40:10: Creating shift variable.
2017-12-10 17:40:10: Creating shifted date.
2017-12-10 17:40:11: expand_time completed.
2017-12-10 17:40:11: Finished generating periods. Generating key.
2017-12-10 17:40:11: Merging CRSP to dataframe.
2017-12-10 17:40:11: Completed merge.
25856
1 loop, best of 3: 824 ms per loop

#### 1 byvars, 2 obs per byvar, 2000 days. Many per byvar case

In [8]:
reg_df, all_byvars = _get_reg_by_test_df(df_get_data, time=[0,2000], num_byvars=2)
print(len(reg_df))
%timeit orig_result = dero.data.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)

2017-12-10 17:40:14: Initializing pull_crsp function
2017-12-10 17:40:14: Checking inputs.
2017-12-10 17:40:14: Loading CRSP dataframe...
2017-12-10 17:40:15: Loaded.
2017-12-10 17:40:15: Converting SAS date to Pandas format.
2017-12-10 17:40:15: Converted.
2017-12-10 17:40:15: Time detected.
2017-12-10 17:40:15: Generating periods [0, 2000] + itermediate
2017-12-10 17:40:15: Initializing expand_time for periods [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000].

2017-12-10 17:40:15: Daily frequency, getting trading day calendar.
2017-12-10 17:40:16: Calculating number of rows.
2017-12-10 17:40:16: Calculating number of duplicates.
2017-12-10 17:40:16: Duplicating observations 2000 times.
2017-12-10 17:40:16: Duplicated.
2017-12-10 17:40:16: Creating shift variable.
2017-12-10 17:40:16: Creating shifted date.
2017-12-10 17:40:17: expand_time completed.
2017-12-10 17:40:17: Finished generating periods. Generating key.
2017-12-10 17:40:17: Merging CRSP to dataframe.
2017-12-10 17:40:17: Completed merge.
16008
10 loops, best of 3: 121 ms per loop

In [87]:
reg_df

(      PERMNO       Date  byvar  byvar1  Shift Shift Date       RET   mktrf  \
 0      10516 2000-01-03      0       0      0 2000-01-03 -0.010309 -0.0071
 1      10516 2000-01-03      0       0      1 2000-01-04 -0.010417 -0.0406
 2      10516 2000-01-03      0       0      2 2000-01-05 -0.015789 -0.0009
 3      10516 2000-01-03      0       0      3 2000-01-06  0.005348 -0.0073
 4      10516 2000-01-03      0       0      4 2000-01-07  0.015957  0.0321
 5      10516 2000-01-03      0       0      5 2000-01-10  0.000000  0.0176
 6      10516 2000-01-03      0       0      6 2000-01-11 -0.015707 -0.0171
 7      10516 2000-01-03      0       0      7 2000-01-12  0.026596 -0.0069
 8      10516 2000-01-03      0       0      8 2000-01-13 -0.005181  0.0159
 9      10516 2000-01-03      0       0      9 2000-01-14  0.041667  0.0115
 10     10516 2000-01-03      0       0     10 2000-01-18  0.045000 -0.0025
 11     10516 2000-01-03      0       0     11 2000-01-19  0.023923  0.0044
 12     10516 2000-01-03      0       0     12 2000-01-20 -0.023364 -0.0037
 13     10516 2000-01-03      0       0     13 2000-01-21 -0.004785  0.0023
 14     10516 2000-01-03      0       0     14 2000-01-24 -0.048077 -0.0259
 15     10516 2000-01-03      0       0     15 2000-01-25 -0.010101  0.0049
 16     10516 2000-01-03      0       0     16 2000-01-26 -0.005102 -0.0044
 17     10516 2000-01-03      0       0     17 2000-01-27 -0.015385 -0.0044
 18     10516 2000-01-03      0       0     18 2000-01-28 -0.015625 -0.0282
 19     10516 2000-01-03      0       0     19 2000-01-31 -0.005291  0.0150
 20     10516 2000-01-03      0       0     20 2000-02-01  0.021277  0.0129
 21     10516 2000-01-03      0       0     21 2000-02-02 -0.016667  0.0016
 22     10516 2000-01-03      0       0     22 2000-02-03  0.000000  0.0149
 23     10516 2000-01-03      0       0     23 2000-02-04  0.000000 -0.0005
 24     10516 2000-01-03      0       0     24 2000-02-07  0.000000  0.0035
 25     10516 2000-01-03      0       0     25 2000-02-08 -0.005319  0.0123
 26     10516 2000-01-03      0       0     26 2000-02-09 -0.037433 -0.0183
 27     10516 2000-01-03      0       0     27 2000-02-10 -0.027778  0.0057
 28     10516 2000-01-03      0       0     28 2000-02-11  0.000000 -0.0174
 29     10516 2000-01-03      0       0     29 2000-02-14  0.017143  0.0024
 ...      ...        ...    ...     ...    ...        ...       ...     ...
 15978  10517 2000-01-04      1       1   1971 2007-11-06 -0.012158  0.0119
 15979  10517 2000-01-04      1       1   1972 2007-11-07  0.000000 -0.0277
 15980  10517 2000-01-04      1       1   1973 2007-11-08 -0.038974 -0.0005
 15981  10517 2000-01-04      1       1   1974 2007-11-09 -0.012807 -0.0146
 15982  10517 2000-01-04      1       1   1975 2007-11-12  0.027027 -0.0108
 15983  10517 2000-01-04      1       1   1976 2007-11-13  0.051579  0.0281
 15984  10517 2000-01-04      1       1   1977 2007-11-14 -0.025020 -0.0063
 15985  10517 2000-01-04      1       1   1978 2007-11-15  0.076996 -0.0125
 15986  10517 2000-01-04      1       1   1979 2007-11-16 -0.120591  0.0041
 15987  10517 2000-01-04      1       1   1980 2007-11-19  0.030352 -0.0181
 15988  10517 2000-01-04      1       1   1981 2007-11-20  0.012888  0.0031
 15989  10517 2000-01-04      1       1   1982 2007-11-21  0.007011 -0.0154
 15990  10517 2000-01-04      1       1   1983 2007-11-23 -0.023724  0.0159
 15991  10517 2000-01-04      1       1   1984 2007-11-26 -0.013735 -0.0209
 15992  10517 2000-01-04      1       1   1985 2007-11-27  0.002678  0.0131
 15993  10517 2000-01-04      1       1   1986 2007-11-28 -0.002671  0.0290
 15994  10517 2000-01-04      1       1   1987 2007-11-29  0.003803  0.0001
 15995  10517 2000-01-04      1       1   1988 2007-11-30  0.052069  0.0070
 15996  10517 2000-01-04      1       1   1989 2007-12-03 -0.032995 -0.0060
 15997  10517 2000-01-04      1       1   1990 2007-12-04 -0.025722 -0.0061
 15998  10517 2000-01-04      1       1   1991 2007-12-05 -0.026940  0.0147
 15999  10517 2000-01-04      1       1   1992 2007-12-06  0.022148  0.0155
 16000  10517 2000-01-04      1       1   1993 2007-12-07  0.010834 -0.0007
 16001  10517 2000-01-04      1       1   1994 2007-12-10 -0.021972  0.0071
 16002  10517 2000-01-04      1       1   1995 2007-12-11 -0.010959 -0.0250
 16003  10517 2000-01-04      1       1   1996 2007-12-12 -0.007756  0.0048
 16004  10517 2000-01-04      1       1   1997 2007-12-13 -0.050810  0.0006
 16005  10517 2000-01-04      1       1   1998 2007-12-14 -0.017647 -0.0136
 16006  10517 2000-01-04      1       1   1999 2007-12-17  0.012575 -0.0159
 16007  10517 2000-01-04      1       1   2000 2007-12-18 -0.007688  0.0065

           smb     hml     rmw     cma       rf
 0     -0.0014 -0.0084 -0.0140 -0.0074  0.00021
 1      0.0032  0.0221  0.0037  0.0146  0.00021
 2      0.0030  0.0013  0.0039  0.0099  0.00021
 3     -0.0013  0.0137  0.0065  0.0117  0.00021
 4     -0.0096 -0.0124 -0.0078 -0.0094  0.00021
 5      0.0052 -0.0150 -0.0201 -0.0006  0.00021
 6      0.0033  0.0092  0.0082  0.0116  0.00021
 7     -0.0023  0.0090  0.0038  0.0089  0.00021
 8      0.0056 -0.0131 -0.0174 -0.0105  0.00021
 9      0.0016 -0.0019 -0.0027 -0.0061  0.00021
 10     0.0232 -0.0047 -0.0145 -0.0009  0.00021
 11     0.0072 -0.0051 -0.0107  0.0052  0.00021
 12     0.0174 -0.0115 -0.0072 -0.0050  0.00021
 13     0.0119 -0.0046 -0.0116  0.0034  0.00021
 14     0.0139  0.0083  0.0049  0.0095  0.00021
 15    -0.0064 -0.0045 -0.0070 -0.0060  0.00021
 16     0.0029  0.0030  0.0035  0.0093  0.00021
 17    -0.0040 -0.0009  0.0016 -0.0005  0.00021
 18     0.0023  0.0136  0.0103  0.0033  0.00021
 19    -0.0334 -0.0037  0.0095  0.0048  0.00021
 20    -0.0015  0.0014 -0.0062 -0.0108  0.00022
 21     0.0134 -0.0054 -0.0106  0.0012  0.00022
 22     0.0098 -0.0136 -0.0094 -0.0063  0.00022
 23     0.0114 -0.0058 -0.0038 -0.0010  0.00022
 24     0.0122 -0.0124 -0.0099 -0.0009  0.00022
 25     0.0012 -0.0179 -0.0147 -0.0089  0.00022
 26     0.0183 -0.0008 -0.0031  0.0043  0.00022
 27     0.0093 -0.0115 -0.0179 -0.0041  0.00022
 28     0.0135  0.0061 -0.0066  0.0044  0.00022
 29     0.0069  0.0018  0.0007 -0.0054  0.00022
 ...       ...     ...     ...     ...      ...
 15978  0.0009 -0.0017  0.0046 -0.0044  0.00016
 15979 -0.0014 -0.0046  0.0015 -0.0012  0.00016
 15980  0.0065  0.0116  0.0018  0.0056  0.00016
 15981  0.0033  0.0087  0.0019  0.0005  0.00016
 15982  0.0042  0.0028  0.0040  0.0078  0.00016
 15983 -0.0044  0.0005  0.0004 -0.0071  0.00016
 15984 -0.0021 -0.0018  0.0007 -0.0030  0.00016
 15985 -0.0010 -0.0006 -0.0029  0.0014  0.00016
 15986 -0.0068 -0.0063  0.0001 -0.0047  0.00016
 15987 -0.0036 -0.0037  0.0051  0.0031  0.00016
 15988 -0.0050 -0.0010  0.0075 -0.0028  0.00016
 15989  0.0036  0.0009  0.0012  0.0012  0.00016
 15990  0.0025  0.0019  0.0012 -0.0005  0.00016
 15991 -0.0015 -0.0065 -0.0012 -0.0042  0.00016
 15992 -0.0064 -0.0019 -0.0037  0.0023  0.00016
 15993  0.0033 -0.0020 -0.0024 -0.0002  0.00016
 15994 -0.0050 -0.0031 -0.0021 -0.0018  0.00016
 15995 -0.0050  0.0086  0.0001  0.0027  0.00016
 15996 -0.0049  0.0010 -0.0005 -0.0027  0.00014
 15997 -0.0018 -0.0016  0.0011  0.0004  0.00014
 15998  0.0004 -0.0004  0.0010 -0.0003  0.00014
 15999  0.0096  0.0027 -0.0005  0.0004  0.00014
 16000  0.0001 -0.0005  0.0021 -0.0009  0.00014
 16001 -0.0011  0.0024  0.0038 -0.0020  0.00014
 16002 -0.0036 -0.0007 -0.0020 -0.0030  0.00014
 16003  0.0008 -0.0020  0.0025 -0.0030  0.00014
 16004 -0.0036 -0.0032  0.0006  0.0064  0.00014
 16005 -0.0051 -0.0026 -0.0008 -0.0008  0.00014
 16006 -0.0022  0.0031  0.0054  0.0047  0.00014
 16007  0.0111 -0.0001  0.0028  0.0022  0.00014

 [16008 rows x 13 columns], ['PERMNO', 'byvar', 'byvar1'])

### Did it break?

In [63]:
from pandas.testing import assert_frame_equal

result = reg_by(reg_df, 'RET', factors, all_byvars, merge=True)
orig_result = dero.data.reg_by(reg_df, 'RET', factors, all_byvars, merge=True)
assert_frame_equal(result, orig_result)

In [91]:
df_weight = pd.DataFrame(data = [
                                (10516, 'a', '1/1/2000', 1.01, 0),
                                (10516, 'a', '1/2/2000', 1.02, 1),
                                (10516, 'a', '1/3/2000', 1.03, 1),
                                (10516, 'a', '1/4/2000', 1.04, 0),
                                (10516, 'b', '1/1/2000', 1.05, 1),
                                (10516, 'b', '1/2/2000', 1.06, 1),
                                (10516, 'b', '1/3/2000', 1.07, 1),
                                (10516, 'b', '1/4/2000', 1.08, 1),
                                (10517, 'a', '1/1/2000', 1.09, 0),
                                (10517, 'a', '1/2/2000', 1.1, 0),
                                (10517, 'a', '1/3/2000', 1.11, 0),
                                (10517, 'a', '1/4/2000', 1.12, 1),
                                ], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'weight'])

In [106]:
indf = df_weight.copy()
indf['key'] = indf['PERMNO'].astype(str) + '_' + indf['byvar']

In [107]:
indf = indf.loc[:8,:]
indf

   PERMNO byvar      Date   RET  weight      key
0   10516     a  1/1/2000  1.01       0  10516_a
1   10516     a  1/2/2000  1.02       1  10516_a
2   10516     a  1/3/2000  1.03       1  10516_a
3   10516     a  1/4/2000  1.04       0  10516_a
4   10516     b  1/1/2000  1.05       1  10516_b
5   10516     b  1/2/2000  1.06       1  10516_b
6   10516     b  1/3/2000  1.07       1  10516_b
7   10516     b  1/4/2000  1.08       1  10516_b
8   10517     a  1/1/2000  1.09       0  10517_a

In [99]:

dero.pandas.reg_by(indf, 'weight', 'RET', 'key')

   const      coef_RET      key
0    0.5  3.552714e-15  10516_a
1    1.0  7.105427e-15  10516_b
2    NaN           NaN  10517_a

In [114]:
reg_by(indf, 'weight', 'RET', 'key')

> <ipython-input-113-ec85797313db>(63)reg_by()
-> this_result[groupvar] = groups[i]
(Pdb) c
> <ipython-input-113-ec85797313db>(61)reg_by()
-> pdb.set_trace()
(Pdb) c
> <ipython-input-113-ec85797313db>(63)reg_by()
-> this_result[groupvar] = groups[i]
(Pdb) c

   const      coef_RET      key
0    0.5  3.552714e-15  10516_a
1    1.0  7.105427e-15  10516_b
2    NaN           NaN  10517_a

In [101]:
import pdb
pdb.pm()

> c:\programdata\anaconda3\lib\site-packages\pandas\core\internals.py(2836)set_axis()
-> (old_len, new_len))
(Pdb) u
> c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py(471)_set_axis()
-> self._data.set_axis(axis, labels)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox (personal)\python\dero\pandas\_libs\src\properties.pyx(65)pandas._libs.lib.AxisProperty.__set__ (pandas\_libs\lib.c:45103)()
(Pdb) u
> c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py(2983)__setattr__()
-> return object.__setattr__(self, name, value)
(Pdb) u
> <ipython-input-98-694bd68b543e>(68)reg_by()
-> result_df.columns = ['coef_' + col if col not in (groupvar, 'const') else col for col in cols]
(Pdb) ['coef_' + col if col not in (groupvar, 'const') else col for col in cols]
*** NameError: name 'groupvar' is not defined
(Pdb) u
> <ipython-input-100-84b353aaef17>(1)<module>()
-> reg_by(indf, 'weight', 'RET', 'key')
(Pdb) d
> <ipython-input-98-694bd68b543e>(68)reg_by()
-> result_df.columns = ['coef_' + col if col not in (groupvar, 'const') else col for col in cols]
(Pdb) groupvar
'key'
(Pdb) ['coef_' + col if col not in (groupvar, 'const') else col for col in cols]
*** NameError: name 'groupvar' is not defined
(Pdb) for col in cols:
*** SyntaxError: unexpected EOF while parsing
(Pdb) cols
['const', 'RET', 'key']
(Pdb) result_df
     0             1      key  const  RET
0  0.5  3.552714e-15  10516_a    NaN  NaN
0  1.0  7.105427e-15  10516_b    NaN  NaN
0  NaN           NaN  10517_a    NaN  NaN
(Pdb) q

In [33]:
import statsmodels.api as sm

X = np.array([
    [1,2],
    [4,5],
    [6,7],
    [10,15],
    [1,1],
    [2,4]
])

y = np.array([
    1,
    2,
    3,
    4,
    5,
    6
])

model = sm.OLS(y,X)
result = model.fit()

In [41]:
result.params[None, :].shape

(1, 2)

In [8]:
[i for i in zip([1,2,3], [4,5,6])]

[(1, 4), (2, 5), (3, 6)]

In [28]:
np.asmatrix(y)

matrix([[1, 2, 3, 4, 5, 6]])

In [24]:
np.asarray(y).shape

(6,)

In [15]:
y.shape

(6,)

In [17]:
X.shape

(6, 2)

In [30]:
y[None, :]

array([[1, 2, 3, 4, 5, 6]])

In [20]:
y.ndim

1

In [22]:
X.ndim

2

In [31]:
np.concatenate([y[:, None],X], axis=1)

array([[ 1,  1,  2],
       [ 2,  4,  5],
       [ 3,  6,  7],
       [ 4, 10, 15],
       [ 5,  1,  1],
       [ 6,  2,  4]])

In [18]:
np.concatenate?

In [46]:
result.params

array([-0.39229844,  0.65463297])

In [56]:
import pdb
pdb.pm()

> <ipython-input-54-a0dbe34d47c6>(61)<listcomp>()
-> result_df.columns = ['coef_' + col if col not in (groupvar, 'const') else col for col in result_df.columns]
(Pdb) col
0
(Pdb) result_df.columns
*** NameError: name 'result_df' is not defined
(Pdb) u
> <ipython-input-54-a0dbe34d47c6>(61)reg_by()
-> result_df.columns = ['coef_' + col if col not in (groupvar, 'const') else col for col in result_df.columns]
(Pdb) result_df.columns
Index([0, 1, 2, 3, 4, 5, '__key_regby__'], dtype='object')
(Pdb) q

,PERMNO,Date,byvar,byvar1,byvar2,byvar3,byvar4,Shift,Shift Date,RET,...,hml,rmw,cma,rf,const,coef_mktrf,coef_smb,coef_hml,coef_rmw,coef_cma
0,10516,2000-01-03,0,0,0,0,0,-100,1999-08-11,0.008696,...,-0.0023,-0.0042,-0.0072,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
1,10516,2000-01-03,0,0,0,0,0,-99,1999-08-12,-0.012931,...,0.0011,-0.0026,0.0026,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
2,10516,2000-01-03,0,0,0,0,0,-98,1999-08-13,0.008734,...,-0.0097,0.0013,-0.0113,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
3,10516,2000-01-03,0,0,0,0,0,-97,1999-08-16,0.004329,...,-0.0052,-0.0009,0.0010,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
4,10516,2000-01-03,0,0,0,0,0,-96,1999-08-17,0.000000,...,-0.0029,-0.0021,-0.0031,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
5,10516,2000-01-03,0,0,0,0,0,-95,1999-08-18,0.004310,...,-0.0021,-0.0018,-0.0002,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
6,10516,2000-01-03,0,0,0,0,0,-94,1999-08-19,-0.008584,...,0.0067,-0.0007,0.0076,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
7,10516,2000-01-03,0,0,0,0,0,-93,1999-08-20,-0.009091,...,-0.0044,-0.0010,0.0000,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
8,10516,2000-01-03,0,0,0,0,0,-92,1999-08-23,-0.009174,...,-0.0088,0.0013,-0.0077,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
9,10516,2000-01-03,0,0,0,0,0,-91,1999-08-24,-0.013889,...,-0.0037,-0.0002,-0.0070,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
10,10516,2000-01-03,0,0,0,0,0,-90,1999-08-25,0.004695,...,-0.0149,0.0007,-0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
11,10516,2000-01-03,0,0,0,0,0,-89,1999-08-26,0.004673,...,0.0027,-0.0015,0.0022,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
12,10516,2000-01-03,0,0,0,0,0,-88,1999-08-27,-0.013953,...,0.0039,-0.0019,0.0004,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
13,10516,2000-01-03,0,0,0,0,0,-87,1999-08-30,-0.033019,...,-0.0008,0.0038,0.0044,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
14,10516,2000-01-03,0,0,0,0,0,-86,1999-08-31,0.014634,...,-0.0013,-0.0070,-0.0034,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
15,10516,2000-01-03,0,0,0,0,0,-85,1999-09-01,0.009615,...,-0.0013,0.0021,0.0028,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
16,10516,2000-01-03,0,0,0,0,0,-84,1999-09-02,-0.028571,...,0.0011,0.0005,0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
17,10516,2000-01-03,0,0,0,0,0,-83,1999-09-03,0.029412,...,-0.0123,-0.0023,-0.0052,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
18,10516,2000-01-03,0,0,0,0,0,-82,1999-09-07,-0.004762,...,-0.0005,-0.0048,0.0013,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
19,10516,2000-01-03,0,0,0,0,0,-81,1999-09-08,0.014354,...,0.0031,-0.0020,0.0057,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
20,10516,2000-01-03,0,0,0,0,0,-80,1999-09-09,0.014151,...,0.0005,-0.0066,-0.0025,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
21,10516,2000-01-03,0,0,0,0,0,-79,1999-09-10,-0.018605,...,-0.0048,-0.0058,-0.0080,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
22,10516,2000-01-03,0,0,0,0,0,-78,1999-09-13,-0.009479,...,0.0032,0.0032,0.0018,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
23,10516,2000-01-03,0,0,0,0,0,-77,1999-09-14,0.000000,...,-0.0026,-0.0024,-0.0012,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
24,10516,2000-01-03,0,0,0,0,0,-76,1999-09-15,0.009569,...,0.0079,0.0028,-0.0008,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
25,10516,2000-01-03,0,0,0,0,0,-75,1999-09-16,-0.004739,...,0.0004,0.0017,0.0029,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
26,10516,2000-01-03,0,0,0,0,0,-74,1999-09-17,-0.028571,...,-0.0081,-0.0013,-0.0049,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
27,10516,2000-01-03,0,0,0,0,0,-73,1999-09-20,0.009804,...,-0.0061,0.0024,-0.0052,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
28,10516,2000-01-03,0,0,0,0,0,-72,1999-09-21,-0.058252,...,0.0008,0.0003,0.0013,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
29,10516,2000-01-03,0,0,0,0,0,-71,1999-09-22,0.036082,...,-0.0074,-0.0049,-0.0017,0.00018,-0.001079,0.901336,-0.486885,0.221858,-0.940354,1.848644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6434,10517,2000-01-04,1,1,1,1,1,-29,1999-11-22,-0.042857,...,-0.0092,0.0008,-0.0026,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6435,10517,2000-01-04,1,1,1,1,1,-28,1999-11-23,-0.029851,...,0.0030,0.0058,-0.0005,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6436,10517,2000-01-04,1,1,1,1,1,-27,1999-11-24,-0.023077,...,-0.0089,-0.0035,-0.0014,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6437,10517,2000-01-04,1,1,1,1,1,-26,1999-11-26,0.015748,...,-0.0020,-0.0050,0.0015,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6438,10517,2000-01-04,1,1,1,1,1,-25,1999-11-29,-0.007752,...,-0.0014,0.0016,0.0071,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6439,10517,2000-01-04,1,1,1,1,1,-24,1999-11-30,0.007812,...,0.0128,0.0052,0.0090,0.00017,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6440,10517,2000-01-04,1,1,1,1,1,-23,1999-12-01,0.008992,...,-0.0029,0.0016,-0.0033,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6441,10517,2000-01-04,1,1,1,1,1,-22,1999-12-02,0.000000,...,-0.0100,-0.0093,-0.0056,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6442,10517,2000-01-04,1,1,1,1,1,-21,1999-12-03,0.000000,...,-0.0052,-0.0024,-0.0034,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6443,10517,2000-01-04,1,1,1,1,1,-20,1999-12-06,-0.015385,...,-0.0054,-0.0091,-0.0039,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6444,10517,2000-01-04,1,1,1,1,1,-19,1999-12-07,0.003906,...,-0.0114,-0.0140,-0.0019,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6445,10517,2000-01-04,1,1,1,1,1,-18,1999-12-08,0.000000,...,-0.0046,-0.0053,0.0004,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6446,10517,2000-01-04,1,1,1,1,1,-17,1999-12-09,-0.011673,...,-0.0055,-0.0056,-0.0034,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6447,10517,2000-01-04,1,1,1,1,1,-16,1999-12-10,0.259843,...,-0.0069,-0.0022,-0.0075,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6448,10517,2000-01-04,1,1,1,1,1,-15,1999-12-13,-0.062500,...,-0.0066,-0.0074,-0.0040,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6449,10517,2000-01-04,1,1,1,1,1,-14,1999-12-14,-0.010000,...,0.0126,0.0107,0.0089,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6450,10517,2000-01-04,1,1,1,1,1,-13,1999-12-15,-0.023569,...,0.0013,0.0082,-0.0049,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6451,10517,2000-01-04,1,1,1,1,1,-12,1999-12-16,0.048276,...,-0.0073,-0.0098,-0.0081,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6452,10517,2000-01-04,1,1,1,1,1,-11,1999-12-17,-0.032895,...,-0.0023,-0.0046,-0.0028,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6453,10517,2000-01-04,1,1,1,1,1,-10,1999-12-20,0.006803,...,-0.0067,0.0003,-0.0014,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6454,10517,2000-01-04,1,1,1,1,1,-9,1999-12-21,-0.003378,...,-0.0076,-0.0110,-0.0050,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6455,10517,2000-01-04,1,1,1,1,1,-8,1999-12-22,-0.003390,...,-0.0019,-0.0014,0.0005,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6456,10517,2000-01-04,1,1,1,1,1,-7,1999-12-23,0.000000,...,-0.0034,0.0002,-0.0011,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6457,10517,2000-01-04,1,1,1,1,1,-6,1999-12-27,-0.003401,...,-0.0072,0.0036,0.0002,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6458,10517,2000-01-04,1,1,1,1,1,-5,1999-12-28,-0.003413,...,0.0014,-0.0033,0.0044,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6459,10517,2000-01-04,1,1,1,1,1,-4,1999-12-29,0.003425,...,-0.0010,-0.0089,-0.0061,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6460,10517,2000-01-04,1,1,1,1,1,-3,1999-12-30,-0.006826,...,-0.0010,0.0049,-0.0021,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6461,10517,2000-01-04,1,1,1,1,1,-2,1999-12-31,0.003436,...,0.0030,-0.0058,0.0014,0.00020,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6462,10517,2000-01-04,1,1,1,1,1,-1,2000-01-03,-0.034247,...,-0.0084,-0.0140,-0.0074,0.00021,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994
6463,10517,2000-01-04,1,1,1,1,1,0,2000-01-04,-0.003546,...,0.0221,0.0037,0.0146,0.00021,-0.000639,0.485833,1.020035,-0.205181,0.443743,-0.490994

In [8]:
result.groupby(all_byvars).first()

                   Date  Shift Shift Date       RET   mktrf     smb     hml  \
PERMNO byvar
10516  0     2000-01-03   -100 1999-08-11  0.008696  0.0163 -0.0065 -0.0023
       1     2000-01-03   -100 1999-08-11  0.008696  0.0163 -0.0065 -0.0023
10517  0     2000-01-04   -100 1999-08-12 -0.001828 -0.0014  0.0036  0.0011
       1     2000-01-04   -100 1999-08-12 -0.001828 -0.0014  0.0036  0.0011

                 rmw     cma       rf     const  coef_mktrf  coef_smb  \
PERMNO byvar
10516  0     -0.0042 -0.0072  0.00018 -0.001079    0.901336 -0.486885
       1     -0.0042 -0.0072  0.00018 -0.001079    0.901336 -0.486885
10517  0     -0.0026  0.0026  0.00018 -0.000639    0.485833  1.020035
       1     -0.0026  0.0026  0.00018 -0.000639    0.485833  1.020035

              coef_hml  coef_rmw  coef_cma     ABRET
PERMNO byvar
10516  0      0.221858 -0.940354  1.848644  0.000710
       1      0.221858 -0.940354  1.848644  0.000710
10517  0     -0.205181  0.443743 -0.490994 -0.002164
       1     -0.205181  0.443743 -0.490994 -0.002164